﻿body {
    -webkit-text-size-adjust:none;
}
body, html, p, h1, h2, h3, h4, h5, h6, img, input, select, textarea, ul, ol, form, button, iframe {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'HeliosCond', 'Arial Narrow', Arial, sans-serif;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
    box-sizing:border-box;
} 
textarea {
	resize:none;
	-webkit-overflow-scrolling: touch;
}
a:focus, input:focus, select:focus, textarea:focus, button:focus {
    outline:none;
}
a, a:link, a:active, a:visited, a:hover {
    text-decoration:none;
    outline:none 0;
    cursor:pointer;
}
.wrapper {
    width:1260px;
    margin-left:auto;
    margin-right:auto;
}

::selection {
    background:#486e7f;
    color:#fff;
}
@font-face {
    font-family: 'HeliosCond';
    src: url('../fonts/HeliosCondC.eot');
    src: local('☺'), url('../fonts/HeliosCondC.woff') format('woff'), url('../fonts/HeliosCondC.ttf') format('truetype'), url('../fonts/HeliosCondC.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HeliosCond';
    src: url('../fonts/HeliosCondLightC.eot');
    src: local('☺'), url('../fonts/HeliosCondLightC.woff') format('woff'), url('../fonts/HeliosCondLightC.ttf') format('truetype'), url('../fonts/HeliosCondLightC.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'HeliosCond';
    src: url('../fonts/HeliosCondC-Bold.eot');
    src: local('☺'), url('../fonts/HeliosCondC-Bold.woff') format('woff'), url('../fonts/HeliosCondC-Bold.ttf') format('truetype'), url('../fonts/HeliosCondC-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* categories box */
.paar:first-child {
    margin-top:50px;
    border-top: 1px solid #e5e5e5;
}
.paar {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 50px 0;
    border-bottom: 1px solid #e5e5e5;
}
    .paar > li {
        flex:1;
        width:50%;
    }
    .paar > li:first-child {
        padding-right:15px;
    }
    .paar > li:last-child {
        padding-left: 15px;
    }
    .paar .category {
        display:block;
        max-width:615px;
        position:relative;
        background:#000;
    }
        .paar .category img {
            position:relative;
            z-index:1;
            display:block;
            width:100%;
            transition:opacity 0.3s ease;
        }
        .paar .category:hover img {
            opacity:0.75;
        }
        .paar .category .category-overlay {
            position:absolute;
            top:50%;
            width:100%;
            left:0;
            text-align:center;
            color:#fff;
            font-size:48px;
            font-weight:700;
            line-height:58px;
            margin-top:-29px;
            z-index:2;
        }
        .paar .category .powered-by {
            position:absolute;
            height:42px;
            background:url(../img/ya-alice.svg) no-repeat 100% 50%;
            background-size:92px 42px;
            padding-right:106px;
            text-align:right;
            color:#fff;
            font-size:24px;
            line-height:42px;
            position:absolute;
            display:block;
            width:220px;
            left:50%;
            margin-left:-110px;
            top:50%;
            z-index:2;
            margin-top:30px;
        }
/* categories box */

/* news box */
.news-box .wrapper {
    padding: 50px 0 20px 0;
    border-top: 1px solid #e5e5e5;
}
    .news-box h2, .products-box h2 {
        text-transform: uppercase;
        text-align: center;
        color: #b9bbc0;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 0 35px 0;
    }
    .news-list {
        display:table;
        width:100%;
    }
        .news-box .news-item {
            float:left;
            width:33.33%;
            padding-bottom:30px;
        }
        .news-box .news-item:nth-child(3n+1) {
            padding-right:20px;
        }
        .news-box .news-item:nth-child(3n+2) {
            padding-right: 10px;
            padding-left:10px;
        }
        .news-box .news-item:nth-child(3n+3) {
            padding-left: 20px;
        }
            .news-box .news-item .news-title {
                color: #4d4d4f;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 20px;
                height: 40px;
                overflow: hidden;
                margin-bottom: 10px;
            }
                .news-box .news-item .news-title a {
                    color: #4d4d4f;
                    transition:color ease 0.3s;
                }
                .news-box .news-item .news-title a:hover {
                    color: #486e7f;
                }
            .news-box .news-item .news-image {
                width:400px;
                overflow:hidden;
                margin-bottom:25px;
                background:#000;
            }
                .news-box .news-item .news-image a, 
                .news-box .news-item .news-image img {
                    display:block;
                    width:100%;
                }
                .news-box .news-item .news-image img {
                    transition:opacity ease 0.3s;
                    opacity:1;
                }
                .news-box .news-item .news-image a:hover img {
                    opacity: 0.75;
                }
            .news-box .news-item .news-excerpt {
                color: #77777b;
                font-size: 18px;
                line-height: 26px;
                height: 156px;
                overflow: hidden;
                margin-bottom:25px;
            }
            .news-box .news-item .news-links, .mobile-show-more {
                text-transform: uppercase;
                color: #486e7f;
                font-size: 14px;
                line-height: 16px;
            }
                .news-box .news-item .news-links a, .mobile-show-more a {
                    color: #486e7f;
                }

                    .news-box .news-item .news-links a:hover, .mobile-show-more a:hover {
                        color: #4d4d4f;
                    }
.mobile-show-more {
    padding:0 0 30px 0;
    text-align:center;
    display:none;
}
/* news box */

/* footer */
footer .bottom {
    padding: 50px 0;
    border-top: 1px solid #e5e5e5;
    color: #3b4862;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    width: 100%;
}
    footer .bottom > .column {
        flex:1;
        max-width:33.33%;
        width:33.33%;
        padding-left:10px;
        padding-right:10px;
    }
    footer .bottom > .column:first-child {
        padding-right:20px;
        padding-left:0;
    }
    footer .bottom > .column:last-child {
        padding-left: 20px;
        padding-right:0;
    }
    footer .bottom > .column.half {
        max-width: 16.67%;
        width:16.67%;
    }
    footer .bottom h3 {
        font-weight:400;
        font-size:14px;
        text-transform:uppercase;
        letter-spacing:1px;
        padding-bottom:15px;
    }
    footer .bottom p {
        font-size:14px;
        line-height:24px;
    }
        footer .bottom p a {
            font-weight: 700;
            color: #486e7f;
            transition: color ease 0.3s;
        }
        footer .bottom p a:hover {
            color: #4d4d4f;
        }
    footer .bottom .nav {
        list-style:none;
    }
        footer .bottom .nav li {
            padding: 20px 0 0 0;
            font-size: 14px;
            line-height: 24px;
        }
        footer .bottom .nav li:first-child {
            padding: 5px 0 0 0;
        }
            footer .bottom .nav li a {
                color: #3b4862;
                transition:color ease 0.3s;
            }
            footer .bottom .nav li a:hover {
                color: #486e7f;
            }
footer .copyrights {
    padding: 50px 0;
    border-top: 1px solid #e5e5e5;
    color: #848484;
    font-size:16px;
    line-height:24px;
    display:table;
    width:100%;
}
    footer .copyrights a {
        color: #b9bbc0;
        transition: color ease 0.3s;
    }
    footer .copyrights a:hover {
        color: #486e7f;
    }
    footer .copyrights p {
        max-width:400px;
        float:left;
    }
    footer .copyrights img {
        opacity:0.5;
        display:block;
        height:28px;
        width:auto;
        float:right;
        margin:7px 0;
    }
.social {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    list-style: none;
    padding-top: 35px;
}
    .social > li {
        padding-right:15px;
        font-size:0;
        line-height:0;
        height:24px;
    }
    .social > li:last-child {
        padding-right: 0;
    }
        .social > li img {
            display:block;
            height:24px;
            width:24px;
        }
        .social > li a {
            display:block;
            transition:opacity ease 0.3s;
        }
        .social > li a:hover {
            opacity:0.75;
        }
.subscribe-form {
    position:relative;
}
    .subscribe-form button {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        height: 44px;
        width: 44px;
        display: block;
        -webkit-appearance: none;
        cursor: pointer;
        background: url(../img/email.svg) no-repeat 50% 50%;
        background-size: 24px 24px;
        opacity: 0.15;
        transition: opacity ease 0.3s;
    }
    .subscribe-form button:hover {
        opacity:1;
    }
    .subscribe-form input {
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        position: relative;
        display: block;
        z-index: 1;
        height: 44px;
        padding-left: 15px;
        padding-right: 45px;
        width: 100%;
        -webkit-appearance: none;
        font-size: 17px;
        color: #4d4d4f;
    }
    .subscribe-form input::placeholder {
        color:#b9bbc0;
    }
.message {
    font-size:15px;
    line-height:1.2;
    padding-top:10px;
}
.message.success {
    color:#35c13c;
}
.message.error {
    color: #e62626;
}
/* footer */

/* video box */
.video-box .wrapper {
    padding: 50px 0;
    border-top: 1px solid #e5e5e5;
    overflow:hidden;
}
.video {
    position:relative;
    background:#000;
}
    .video img {
        position: relative;
        width:100%;
        display:block;
        z-index:1;
        transition:opacity ease 0.3s;
    }
    .video.on img, .video.on .video-overlay {
        visibility: hidden;
    }
    .video:hover img {
        opacity:0.75;
    }
    .video .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
        display:block;
    }
        .video .video-overlay > div {
            display:table;
            height:100%;
            width:100%;
        }
        .video .video-overlay > div > div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            height:100%;
            width:100%;
        }
        .video .video-overlay h3 {
            max-width: 63%;
            margin-left: auto;
            margin-right: auto;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.1;
        }
    .video .video-whatch {
        display: block;
        width: 165px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 45px;
        height: 30px;
        white-space: nowrap;
        text-transform: uppercase;
        line-height: 30px;
        font-size: 16px;
        background: url(../img/play.svg) no-repeat 0 50%;
        background-size: 30px 30px;
    }
    .video iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 1;
        opacity: 0;
        cursor:pointer;
    }
    .video.on iframe {
        opacity: 1;
    }
.prelative {
    position:relative;
}
.show-xs {
    display:none !important;
}
/* video box */
/* promo*/
.promo {
    text-align: center;
    text-transform: uppercase;
    color: #38495b;
}
    .promo .wrapper {
        margin-top:50px;
        padding-top:50px;
        border-top:1px solid #e5e5e5;
    }
    .promo h1 {
        font-size: 37px;
        line-height: 47px;
        font-weight: 700;
    }
    .promo a {
        color: #38495b;
        transition:color ease 0.3s;
    }
    .promo a:hover {
        color: #8699ac;
    }
    .promo .pages {
        padding-bottom:50px;
    }
    .promo p {
        color: #8699ac;
        padding-top: 20px;
        font-size: 20px;
        line-height: 1.5;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
/* promo */
/* products box */
.products-box .wrapper {
    padding: 50px 0 20px 0;
}
.products-list {
    display:table;
    width:1290px;
    margin-left:-15px;
}
    .products-list .product-item {
        width:25%;
        float:left;
        padding:0 15px 30px 15px;
        text-align:center;
        min-height:535px;
    }
        .products-list .product-item .product-image {
            height:360px;
            overflow:hidden;
            margin-bottom:20px;
        }
            .products-list .product-item .product-image img {
                display:block;
                height:360px;
                transition:opacity 0.3s ease;
            }
            .products-list .product-item .product-image img:hover {
                opacity:0.75;
            }
        .products-list .product-item .product-title,
        .products-list .product-item .product-code,
        .products-list .product-item .product-price {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 20px;
            color: #5a748e;
            margin-bottom: 15px;
        }
            .products-list .product-item .product-title a {
                color: #5a748e;
                transition:color ease 0.3s;
            }
            .products-list .product-item .product-title a:hover {
                color: #4d4d4f;
            }
        .products-list .product-item .product-code {
            font-weight:700;
            color:#4d4d4f;
        }
        .products-list .product-item .product-price {
            color:#b9bbc0;
        }
        .products-list .product-item .product-price:last-child {
            margin-bottom:0;
        }
.stroke {
    text-decoration:line-through;
}
/* products box */

/* intro */
.intro {
    background: #000;
}
.intro img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-width:1600px;
    position:relative;
    transition:opacity 0.3s ease;
    z-index:1;
}
.intro:hover img {
    opacity:0.25;
}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:0;
    background: #000;
    margin:0;
}
.intro-slide {
    background:#000;
    position:relative;
    top:0;
    left:0;
}
.intro-slide-ovelay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.intro-slide-ovelay .ft {
    cursor: pointer;
    font-size: 37px;
    line-height: 47px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    display:table;
    height:100%;
    width:100%;
}
    .intro-slide-ovelay .ftd {
        display: table-cell;
        height: 100%;
        width: 100%;
        vertical-align:middle;
    }
    .intro-slide-ovelay  span {
        color: #fff;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
.bx-controls-direction {
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    margin-top: -48px;
    z-index: 5;
}
.bx-viewport {
    z-index:1;
}
.bx-wrapper .bx-controls-direction a.bx-next,
.bx-wrapper .bx-controls-direction a.bx-prev {
    position: absolute;
    display: block;
    height: 48px;
    width: 48px;
    background: rgba(255,255,255,0.35);
    top: 0;
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    -webkit-appearance: none;
    transition: background-color ease 0.3s;
    line-height: 48px;
    text-align: center;
    text-indent: 0;
}
    .bx-wrapper .bx-controls-direction a.bx-next:hover,
    .bx-wrapper .bx-controls-direction a.bx-prev:hover {
        background: rgba(255,255,255,0.45);
    }
.bx-wrapper .bx-controls-direction a.bx-prev {
    left: 10px;
}
.bx-wrapper .bx-controls-direction a.bx-next {
    right: 10px;
}
.bx-wrapper .bx-pager {
    position: absolute;
    z-index: 5;
    width: 100%;
    left: 0;
    bottom: 30px;
    text-align: center;
    font-size: 0;
    line-height: 0;
    padding:0;
}
    .bx-wrapper .bx-pager-item a {
        display: inline-block;
        overflow: hidden;
        border: 1px solid #fff;
        border-radius: 50%;
        margin: 0 5px;
        height: 10px;
        width: 10px;
        background:none !important;
    }
.bx-wrapper .bx-pager-item a.active {
    background: #fff  !important;
}

/* intro */
/* header */
header {
    padding-top: 35px;
    position: relative;
}
    header .wrapper {
        position:relative;
    }
.logo-box {
    width:206px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
}
    .logo-box img {
        height:145px;
        display:block;
        width:206px;
    }
    header nav {
        display: table;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 13px;
    }
    header nav ul {
        list-style: none;
        background: #fff;
    }
        header nav ul li {
            position:relative;
        }
        header nav a {
            color: #4d4d4f;
            font-size: 17px;
            line-height: 23px;
            display: block;
            padding: 10px 20px;
        }

    header nav > ul > li.with-submenu:hover > a {
        background: #fff;
    }
    header nav > ul {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        position: relative;
        z-index: 5;
        background: #fff;
    }
        header nav > ul > li {
            position: relative;
            z-index:6;
        }

            header nav > ul > li ul li:last-child {
                border-bottom:0;
            }
            header nav > ul > li.with-submenu > ul {
                position: absolute;
                width: 200px;
                display: none;
                background:#efefef;
         
            }
            header nav > ul > li.with-submenu:hover > ul {
                display: block;
            }
            header nav > ul > li.with-submenu > ul > li > ul {
                position: absolute;
                width: 200px;
                left: 200px;
                display: none;
                top: 0;
                background: #efefef;
                margin-top: 0;
                margin-left: 0
            }
            header nav > ul > li.with-submenu > ul > li.with-submenu:hover > ul {
                display:block;
            }
            header nav > ul > li.with-submenu > ul > li > ul > li > ul {
                position: absolute;
                width: 200px;
                left: 200px;
                display: none;
                top: 0;
                background: #efefef;
                margin-top: 0;
                margin-left: 0;
            }

            header nav > ul > li.with-submenu > ul > li > ul > li.with-submenu:hover > ul {
                display: block;
            }
            header nav > ul > li.with-submenu:hover > a,
            header nav > ul > li:hover > a,
            header nav > ul > li > ul > li:hover > a,
            header nav > ul > li > ul > li > ul > li:hover > a,
            header nav > ul > li > ul > li > ul > li > ul > li:hover > a {
                color: #fff;
                background: #486e7f;
                border-color: #486e7f;
            }
header .search-box {
    height:44px;
    position:absolute;
    z-index:1;
    top:50%;
    margin-top:-57px;
    width:244px;
}
    header .search-box button {
        display:block;
        height:44px;
        width:44px;
        background:url(../img/zoom.svg) no-repeat 50% 50%;
        background-size:15px 15px;
        float:left;
    }
    header .search-box input {
        margin-left:44px;
        display:block;
        -webkit-appearance:none;
        width:200px;
        color:#4d4d4f;
        font-size:15px;
        text-align:left;
        height:44px;
    }
header .tools-box {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    right: 0;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
}
    header .tools-box select {
        height: 30px;
        text-transform: uppercase;
        color: #3b4858;
        font-size: 15px;
        background: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        text-align: left;
        padding: 0 10px;
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
    header .tools-box select::-ms-expand {
        display:none;
    }
        header .tools-box .shopping-label {
            height: 30px;
            white-space: nowrap;
            text-transform: uppercase;
            font-size: 15px;
            color: #3b4858;
            padding-left: 5px;
            margin-right: 20px;
            line-height: 30px;
            display: block;
        }
    header .tools-box .shopping-badge {
        height:30px;
        width:30px;
        text-align:center;
        background:url(../img/bag.svg) no-repeat 50% 50%;
        background-size:22px 22px;
        color:#fff;
        text-align:center;
        font-size:11px;
        padding-top:11px;
        display:block;
        line-height:14px;
    }
header .mobile-tools {
    display:none;
}
    header .mobile-tools ul {
        width: 100%;
        display:table;
        list-style: none;
        max-width:100%;
    }
        header .mobile-tools ul > li {
            max-width:33.33%;
            display:table-cell;
            width:33.33%;
            text-align:center;
            font-size:0;
            line-height:0;
            vertical-align:middle;
        }
            header .mobile-tools ul > li a {
                display: block;
                height: 34px;
                width: 34px;
                margin: 0 auto;
            }
            header .mobile-tools ul > li .mobile-bag {
                display: block;
                background: url(../img/bag.svg) no-repeat 50% 50%;
                color: #fff;
                background-size: contain;
                padding-top: 15px;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
            }
            header .mobile-tools ul > li .mobile-humburger {
                background: url(../img/menu.svg) no-repeat 50% 50%;
                background-size: 28px 28px;
            }
            header .mobile-tools ul > li .mobile-search {
                background: url(../img/zoom.svg) no-repeat 50% 50%;
                background-size: 28px 28px;
            }
/* header */

/* catalog box */
.catalog-box .wrapper {
    width:1010px;
    padding-bottom:20px;
}
.catalog-box h1, .shopping-box h1, .box-wrapper-mini h2, .product-item-box h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    color: #4d4d4f;
    line-height: 1.2;
    padding-bottom: 40px;
}
.catalog-box .products-list {
    margin: 0;
    width: 100%;
}
    .catalog-box .products-list .product-item {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
    }
        .catalog-box .products-list .product-item:nth-child(2n+1) {
            padding-left: 0;
            padding-right: 15px;
        }
        .catalog-box .products-list .product-item:nth-child(2n+2) {
            padding-left: 15px;
            padding-right: 0;
        }
        .catalog-box .products-list .product-item .product-image img,
        .catalog-box .products-list .product-item .product-image {
            height: 490px;
            margin-left:auto;
            margin-right:auto;
        }
        .catalog-box .products-list .product-item .product-title {
            font-size:18px;
            font-weight:700;
            line-height:22px;
            height:22px;
        }
            .catalog-box .products-list .product-item .product-title a,
            .catalog-box .products-list .product-item .product-excerpt a {
                color: #4d4d4f;
                transition:color ease 0.3s;
            }
            .catalog-box .products-list .product-item .product-title a:hover,
            .catalog-box .products-list .product-item .product-excerpt a:hover {
                color: #486e7f;
            }
        .catalog-box .products-list .product-item .product-excerpt {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            height: 40px;
            overflow: hidden;
            text-transform: uppercase;
            color: #4d4d4f;
            max-width:75%;
            margin-left:auto;
            margin-right:auto;
            margin-bottom:15px;
        }
/* catalog box */

/* breadcrumbs */
.breadcrumbs {
    text-align: center;
    padding: 60px 0 40px 0;
    color: #3b4858;
    font-size:14px;
    text-transform:uppercase;
}
    .breadcrumbs span, .breadcrumbs a {
        padding: 0 5px;
        color: #3b4858;
    }
    .breadcrumbs a {
        transition:color ease 0.3s;
    }
    .breadcrumbs a:hover {
        color:#8699ac;
    }
/* breadcrumbs */

/* catalog tools */
.catalog-tools {
    display:table;
    width:100%;
    padding:10px 0 60px 0;
}
    .catalog-tools .sorting {
        float: left;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
    }
        .catalog-tools .sorting label {
            height: 20px;
            display: block;
            line-height: 20px;
            color: #3b4858;
            font-size: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding-right:10px;
        }
        .catalog-tools .sorting select {
            height: 20px;
            display: block;
            border: 0;
            padding: 0;
            color: #3b4858;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
            .catalog-tools .sorting select::-ms-expand {
                display:none;
            }
            .catalog-tools .share-box {
                float: right;
                color: #3b4858;
                font-size: 14px;
                letter-spacing: 1px;
                text-transform: uppercase;
                line-height: 20px;
            }
                .catalog-tools .share-box a {
                    color: #3b4858;
                    transition:color ease 0.3s;
                }
                .catalog-tools .share-box a:hover {
                    color:#8699ac;
                }
/* catalog tools */

/* sidebar */
.sidebar {
    background:#fff;
    position:fixed;
    z-index:5;
    padding:10px;
    margin-top:-68px;
}
    .sidebar h3 {
        color: #3b4858;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 20px;
        font-weight:400;
        padding:0 0 10px 0;
    }
    .sidebar ul {
        list-style:none;
    }
        .sidebar ul li {
            padding:10px 0;
            font-size:16px;
            font-weight:700;
            color:#4d4d4f;
        }
            .sidebar ul li a {
                color:#4d4d4f;
                transition:color ease 0.3s;
            }

            .sidebar ul li.active a,
            .sidebar ul li a:hover {
                color: #486e7f;
            }
    .sidebar .menu-tail {
        height:30px;
        width:30px;
        background:#efefef url(../img/menu.svg) no-repeat 50% 50%;
        background-size:16px 16px;
        position:absolute;
        left:100%;
        top:0;
        cursor:pointer;
    }
/* sidebar */

/* shopping cart */
.shopping-box {
    padding-bottom:50px;
}
.shopping-cart-table {
    width:100%;
    border-collapse:collapse;
    border:0;
}
    .shopping-cart-table th {
        border-bottom: 1px solid #e5e5e5;
        vertical-align: middle;
        color: #3b4f64;
        font-weight:700;
        font-size:16px;
        line-height:1.2;
        padding:10px 0;
        text-transform:uppercase;
    }
    .shopping-cart-table td {
        border-bottom: 1px solid #e5e5e5;
        vertical-align:bottom;
        padding:20px 0;
    }
    .shopping-cart-table .col-img {
        text-align: left;
        width: 125px;
    }
    .shopping-cart-table .col-title {
        text-align: left;
        width: 360px;
        padding-left:30px;
        padding-right:30px;
        text-transform:uppercase;
    }
    .shopping-cart-table .col-price {
        text-align: left;
        width:100px;
    }
    .shopping-cart-table .col-quantity {
        text-align: center;
        width: 160px;
    }
    .shopping-cart-table .col-amount {
        text-align: right;
        width: 95px;
    }
    .shopping-cart-table td.col-img {
        font-size: 0;
        line-height: 0;
    }
        .shopping-cart-table .col-img img {
            display: block;
            width: 100%;
        }
    .shopping-cart-table .brand img {
        display:block;
        height:35px;
        margin-bottom:20px;
    }
    .shopping-cart-table h3 {
        font-size: 18px;
        line-height: 1.1;
        color: #4d4d4f;
        font-weight:700;
        padding-bottom:5px;
    }
        .shopping-cart-table h3 a {
            color: #4d4d4f;
        }
        .shopping-cart-table p {
            color: #939598;
            font-size: 15px;
            line-height: 1.1;
            padding-bottom: 10px;
        }
            .shopping-cart-table p a {
                color: #939598;
            }
    .shopping-cart-table td.col-price, .shopping-cart-table td.col-amount {
        color: #939598;
        font-size: 18px;
        line-height: 36px;
        text-transform: uppercase;
    }
    .shopping-cart-table .col-remove {
        font-size:0;
        line-height:0;
        width:18px;
    }
        .counter {
            height: 36px;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            max-width: 99px;
            margin-left:auto;
            margin-right:auto;
        }
    .counter .plus, .counter .minus {
        width: 33px;
        border: 1px solid #e5e5e5;
        line-height: 33px;
        font-size:19px;
        color: #777777;
        font-weight: 700;
        text-align: center;
        display:block;
    }
    .counter .minus {
        border-right: 0;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .counter .plus {
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .counter em, .counter span {
        line-height: 36px;
        width: 33px;
        font-style: normal;
        color: #777;
        text-align: left;
        display:block;
    }
.btn-remove {
    height: 18px;
    width: 18px;
    display: block;
    border-radius: 50%;
    background: #ccc url(../img/close.svg) no-repeat 50% 50%;
    background-size:10px 10px;
    transition:background-color ease 0.3s;
    margin:9px 0;
}
.btn-remove:hover {
    background-color:#8699ac;
}
.shopping-cart-empty {
    padding:0 0 30px 0;
    text-align:center;
    font-size:18px;
    color:#b9bbc0;
    display:none;
    text-transform:uppercase;
}
.promo-code-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    height:42px;
    margin:20px 0;
    float:right;
}
    .promo-code-box label {
        line-height: 42px;
        text-transform: uppercase;
        color: #939598;
        font-size:16px;
        width:164px;
        display:block;
    }
    .promo-code-box > div {
        width:209px;
    }
    .promo-code-box input {
        height:42px;
        width:100%;
        -webkit-appearance:none;
        border:1px solid #e5e5e5;
        border-radius:5px;
        padding:0 10px;
        text-align:left;
        font-size:16px;
        color:#777;
    }
    .total-price {
        clear: both;
        text-align: right;
        font-size:22px;
        font-weight:300;
        color:#4d4d4f;
    }
.notice {
    font-size: 15px;
    color: #939598;
    text-align:right;
    text-transform:uppercase;
    padding-top:20px;
    padding-bottom:20px;
}
.shopping-box .message {
    text-align:right;
    padding-bottom:20px;
    padding-top:0;
}
.buttons {
    font-size: 0;
    line-height: 0;
    text-align: right;
}
.button {
    height: 42px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    background: #466c7e;
    font-size:16px;
    text-transform:uppercase;
    padding:0 20px;
    text-align:center;
    min-width:180px;
    cursor:pointer;
    transition:background-color ease 0.3s;
}
.button:hover {
    background-color:#3b4858;
}
    .button[disabled] {
        background-color:#939598;
        cursor:not-allowed;
    }
.payment-methods {
    height:30px;
    margin-top:30px;
    background:url(../img/payment.png) no-repeat 100% 50%;
    background-size:contain;
}
/* shopping cart */

/* blank */
.box-wrapper-mini {
    padding:50px 125px;
    border-top:1px solid #e5e5e5;
}
.double-columns {
    width:100%;
    display:flex;
    display:-webkit-box;
    display:-webkit-flex;
    flex-direction:row;
}
    .double-columns > div {
        flex:1;
        max-width:50%;
        width:50%;
    }
    .double-columns > div:first-child {
        padding-right:25px;
    }
    .double-columns > div:last-child {
        padding-left: 25px;
    }
.pricing {
    width:100%;
}
    .pricing th, .form-group label, .hint {
        text-align: left;
        color: #939598;
        font-size: 15px;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: 400;
    }
    .pricing td {
        color: #4d4d4f;
        font-size:18px;
        line-height:1.2;
        text-align:right;
        text-transform:uppercase;
    }
    .pricing td .big {
        font-size: 24px;
    }
    .pricing th, .pricing td {
        padding:10px 0;
        vertical-align:middle;
    }
.button.btn-right {
    float:right;
    margin-top:35px;
}
.form-group {
    padding-bottom:20px;
}
.form-group:last-child {
    padding-bottom:0;
}
    .double-columns .form-group:last-child:first-child {
        padding-bottom: 20px;
    }
    .form-group .message {
        padding-bottom: 0;
    }
    .form-group.form-relative {
        position: relative;
    }
    .form-group.form-relative > label:first-child {
        position: absolute;
        height:42px;
        padding-bottom:0;
        line-height:42px;
        width:105px;
        left:-105px;
    }
.form-group label {
    display: block;
    padding-bottom: 7px;
}
    .form-group input[type=text],
    .form-group input[type=password],
    .form-group input[type=search],
    .form-group input[type=email],
    .form-group textarea {
        border-radius: 5px;
        border: 1px solid #e5e5e5;
        height: 42px;
        width: 100%;
        display: block;
        -webkit-appearance: none;
        font-size: 14px;
        color: #939598;
        padding: 0 10px;
        text-align: left;
    }
.form-group textarea {
    height:160px;
    padding:10px;
}
        .form-group input[type=text]:active,
        .form-group input[type=password]:active,
        .form-group input[type=search]:active,
        .form-group input[type=email]:active,
        .form-group input[type=text]:focus,
        .form-group input[type=password]:focus,
        .form-group input[type=search]:focus,
        .form-group input[type=email]:focus,
        .form-group textarea:active,
        .form-group textarea:focus {
            border: 1px solid #4d4d4f;
            color: #4d4d4f;
        }
.hint {
    line-height:18px;
    padding:12px 0;
}
.form-group label.radio,
.form-group label.checkbox {
    position: relative;
    padding-left: 40px;
    padding-bottom: 0;
    margin-bottom: 20px;
}
.form-group label.radio:last-child,
.form-group label.checkbox:last-child {
    margin-bottom: 0;
}
    .form-group label.radio input,
    .form-group label.checkbox input {
        position: absolute;
        left: 0;
        top: 3px;
    }
    .form-group label.radio span,
    .form-group label.radio em,
    .form-group label.checkbox span,
    .form-group label.checkbox em {
        font-style: normal;
        display: block;
    }
    .form-group label.radio em,
    .form-group label.checkbox em {
        text-transform: none;
    }
/* blank */

/* product card */
.product-item-box h1 {
    padding-bottom:0;
    text-align:center;
}
.product-item-box h2 {
    color: #4d4d4f;
    font-size:24px;
    font-weight:700;
    text-align:center;
    padding:0;
    text-transform:uppercase;
}
.product-item-box h3 {
    color: #3b4858;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding:10px 0 30px 0;
    text-transform: uppercase;
}
.product-details {
    padding:30px 0;
    border-bottom:1px solid #e5e5e5;
    color:#777;
    font-size:15px;
    line-height:1.5;
}
    .product-details p, .product-details ul, .product-details ol {
        padding:10px 0;
    }
    .product-details ul, .product-details ol {
        list-style-position:inside;
    }
    .product-details a {
        color:#486e7f;
        transition:color ease 0.3s;
    }
    .product-details a:hover {
        color: #8699ac;
    }
.colors {
    border-bottom:1px solid #e5e5e5;
    padding:40px 0;
}
    .colors h4 {
        color:#4d4d4f;
        font-size:16px;
        font-weight:700;
        text-align:center;
        margin-bottom:20px;
    }
    .color-square {
        display: block;
        height: 42px;
        width: 42px;
        overflow: hidden;
        border-radius: 3px;
        border: 1px solid #e5e5e5;
        position: relative;
        margin:0 5px;
    }
    .color-square::after {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        content: ' ';
        display: block;
        top: 0;
        left: 0;
        background-image: -webkit-linear-gradient(top,transparent 0,rgba(0, 0, 0, 0.45) 90%);
        background-image: -o-linear-gradient(top,transparent 0,rgba(0, 0, 0, 0.45) 90%);
        background-image: linear-gradient(to bottom,transparent 0,rgba(0, 0, 0, 0.45) 90%);
    }
.bxslider#colors, .colors .bx-wrapper {
    background: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.old-safari .bxslider#colors {
    display:block;
    font-size:0;
    line-height:0;
    text-align:center;
}
.old-safari .bxslider#colors .item {
    display: inline-block;
    width:52px;
    padding-bottom:5px;
}
.old-safari .intro .item {
    display:none;
}
.old-safari .intro .item:first-child {
    display: block;
}
.colors .bx-wrapper .bx-controls-direction a.bx-next,
.colors .bx-wrapper .bx-controls-direction a.bx-prev {
    height: 42px;
    width: 42px;
    background: none;
    border-radius: 0;
    color: #777;
    line-height: 40px;
}
    .colors .bx-wrapper .bx-controls-direction a {
        margin-top: -21px;
    }
        .colors .bx-wrapper .bx-controls-direction a.bx-prev {
            left: -47px;
        }
        .colors .bx-wrapper .bx-controls-direction a.bx-next {
            right: -47px;
        }
.buy {
    display:flex;
    display:-webkit-box;
    display:-webkit-flex;
    flex-direction:row;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    max-width:280px;
    padding-top:40px;
}

.buy-price {
    line-height:42px;
    padding-right:40px;
    color:#939598;
    text-transform:uppercase;
    font-size:18px;
    text-align:left;
}
.product-image-large {
    overflow:hidden;
    font-size:0;
    line-height:0;
    margin-bottom:35px;
    background:#fff url(../img/ajax-loader.gif) no-repeat 50% 50%;
}
    .product-image-large > a > img {
        display:block;
        margin:0;
        width:100%;
    }

.images {
    font-size:0;
    line-height:0;
    text-align:center;
}
    .images .thumb {
        height: 60px;
        width: 60px;
        overflow: hidden;
        display: inline-block;
        margin: 0 10px 20px 10px;
        cursor:pointer;
    }
        .images .thumb img {
            height: 60px;
        }
.center-box {
    padding:40px 0 50px 0;
    text-align:center;
}
.center-box.with-social {
    padding: 40px 0 50px 0;
    border-top:1px solid #e5e5e5;
    margin-top:26px;
}
    .center-box.with-social .social {
        padding-top:9px;
        padding-bottom:9px;
        opacity:0.75;
    }
    .center-box.with-social .social:hover {
        opacity:1;
    }
/* product card */

/* text */
.text {
    line-height:1.3;
    color:#4d4d4f;
    font-size:16px;
    padding:50px 0;
}
    .text ol, .text ul {
        list-style-position:inside;
        padding:10px 50px;
    }
    .text p {
        padding:10px 0;
        text-indent:50px;
    }
    .text img {
        margin:10px 0;
        display:block;
        max-width:100%;
    }
    .text h1, .text h2, .text h3, .text h4 {
        text-align:center;
        text-transform:uppercase;
        font-weight:700;
        color:#3b4858;
        padding:10px 0;
        font-size:37px;
    }
    .text h2 {
        font-size:32px;
    }
    .text h3 {
        font-size: 22px;
    }
    .text h4 {
        font-size: 18px;
    }

    .text a:not(.button) {
        color:#486e7f;
        transition:color ease 0.3s;
    }
    .text a:not(.button):hover {
        color: #8699ac;
    }
/* text */