@font-face {
    font-family: 'HeliosCond';
    src: url('HeliosCond.eot');
    src: url('HeliosCond.eot?#iefix') format('embedded-opentype'),
    url('HeliosCond.woff2') format('woff2'),
    url('HeliosCond.woff') format('woff'),
    url('HeliosCond.ttf') format('truetype'),
    url('HeliosCond.svg#HeliosCond') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HeliosCond';
    src: url('HeliosCond-Bold.eot');
    src: url('HeliosCond-Bold.eot?#iefix') format('embedded-opentype'),
    url('HeliosCond-Bold.woff2') format('woff2'),
    url('HeliosCond-Bold.woff') format('woff'),
    url('HeliosCond-Bold.ttf') format('truetype'),
    url('HeliosCond-Bold.svg#HeliosCond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Light.eot');
    src: url('MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-Light.woff2') format('woff2'),
    url('MyriadPro-Light.woff') format('woff'),
    url('MyriadPro-Light.ttf') format('truetype'),
    url('MyriadPro-Light.svg#MyriadPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-Regular.woff2') format('woff2'),
    url('MyriadPro-Regular.woff') format('woff'),
    url('MyriadPro-Regular.ttf') format('truetype'),
    url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
