@media all and (max-width:1300px) {
    .wrapper {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    .products-list {
        margin-left:0;
        width:100%;
    }
        .products-list .product-item {
            min-height: 435px;
        }
            .products-list .product-item .product-image,
            .products-list .product-item .product-image img {
                height: 260px;
            }
    .news-box .news-item .news-image {
        width: 100%;
    }
    .catalog-box .wrapper {
        width: 1010px;
        margin-left:auto;
        margin-right:auto;
    }
}
@media all and (max-width:1100px) {
    .catalog-box .wrapper {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .catalog-box .products-list .product-item .product-image img,
    .catalog-box .products-list .product-item .product-image {
        height: 335px;
    }
}
@media all and (max-width:1024px) {
    .intro-slide-ovelay {
        font-size: 30px;
        line-height: 1.27;
    }
    .paar .category .category-overlay {
        font-size: 28px;
        line-height: 38px;
        margin-top: -19px;
    }
    .paar .category .powered-by {
        height: 32px;
        padding-right: 76px;
        font-size: 18px;
        line-height: 32px;
        width: 160px;
        margin-left: -80px;
        margin-top: 20px;
        background-size:70px 32px;
    }
    .paar {
        padding: 30px 0;
    }
    .paar:first-child {
        margin-top: 30px;
    }
    .video-box .wrapper {
        padding: 30px 0;
    }
    .video .video-overlay h3 {
        font-size: 30px;
        line-height: 1.1;
    }
    .video .video-whatch {
        margin-bottom: 20px;
    }
    .products-list .product-item {
        min-height: 405px;
    }
        .products-list .product-item .product-image,
        .products-list .product-item .product-image img {
            height: 230px;
        }
        .products-list .product-item .product-title, .products-list .product-item .product-code, .products-list .product-item .product-price {
            font-size: 14px;
        }
    .news-box .news-item .news-excerpt {
        font-size: 15px;
        line-height: 21px;
        height: 126px;
        margin-bottom: 15px;
    }
    .news-box .news-item .news-image {
        margin-bottom:15px;
    }
    footer .bottom > .column:first-child {
        display:none;
    }
    footer .bottom > .column.half {
        max-width: 33.33%;
        width:33.33%;
    }
    footer .bottom > .column.half:nth-child(4n+2) {
        padding-left:0;
        padding-right:20px;
    }
    .news-box .wrapper, .products-box .wrapper {
        padding: 30px 0 0 0;
    }
    footer .bottom ,
    footer .copyrights {
        padding: 30px 0;
    }
    footer .copyrights {
        font-size: 14px;
        line-height: 20px;
    }
    .promo .wrapper {
        margin-top: 0;
        padding-top: 30px;
        border-top:0;
    }
    .intro-slide-ovelay span {
        max-width:650px;
    }
    .shopping-cart-table .col-empty,
    .shopping-cart-table .col-amount {
        display: none;
    }
    .shopping-cart-table .col-title {
        width:auto;
        padding-left:20px;
        padding-right:20px;
    }
    .double-columns {
        display: block;
        flex-direction:unset;
    }
        .double-columns > div {
            flex: none;
            max-width: 100%;
            width:100%;
        }
        .double-columns > div:first-child {
            padding-right: 0;
        }
        .double-columns > div:last-child {
            padding-left: 0;
        }
    .hide-1024 {
        display:none;
    }
    .form-group label.radio, .form-group label.checkbox {
        padding-left: 20px;
    }
        .form-group label.radio input, .form-group label.checkbox input {
            top: 2px;
        }
    .comments {
        padding-top:20px;
    }
    .center-box.with-social {
        padding: 0 0 0 0;
        border-top: 0;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    .form-group label.radio.radio-bordered {
        height:auto;
        min-height:160px;
    }
}
@media all and (max-width:768px) {
    header {
		padding-top: 35px;
		position: relative;
		background: url(/local/templates/elari/img/NY_bg_m.png) 50% -10px no-repeat;
	}
	
	header nav {
        position: static;
        display: none;
        background: #fff;
        z-index: 5;
        padding-bottom: 20px;
        width: 100%;
    }

    header nav.on {
        display: block;
    }

    header .search-box {
        width: 100%;
        padding: 20px;
        height: auto;
        left: 0;
        background: #efefef;
        top: 192px;
        margin-top: 0;
        z-index: 6;
        display: none;
    }

    header .search-box.on {
        display: block;
    }

    header .search-box input {
        background: none;
    }

    header .tools-box {
        display: none;
    }

    header nav > ul {
        display: block;
        flex-direction: unset;
        border-top: 1px solid #e5e5e5;
    }

    header nav a {
        border-bottom: 1px solid #e5e5e5;
    }

    header nav > ul > li > ul {
        background: #fefefe;
    }

        header nav > ul > li > ul > li > ul {
            background: #f5f5f5;
        }

            header nav > ul > li > ul > li > ul > li > ul {
                background: #f2f2f2;
            }

                header nav > ul > li.with-submenu:hover > a,
                header nav > ul > li:hover > a,
                header nav > ul > li > ul > li:hover > a,
                header nav > ul > li > ul > li > ul > li:hover > a,
                header nav > ul > li > ul > li > ul > li > ul > li:hover > a {
                    color: #fff;
                    background: #486e7f;
                    border-bottom-color: #8699ac;
                }

    header nav > ul, header nav ul li, header nav > ul > li.with-submenu > ul, header nav > ul > li.with-submenu > ul > li > ul,
    header nav > ul > li.with-submenu > ul > li > ul > li > ul {
        position: static;
        width: auto;
    }

    header .wrapper {
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    header .mobile-tools {
        display: block;
        padding-bottom: 30px;
    }

    footer .bottom > .column.half {
        max-width: 25%;
        width:25%;
    }

    footer .bottom > .column:last-child {
        width: 50%;
    }

    .products-list .product-item {
        width: 50%;
    }

        .products-list .product-item .product-image,
        .products-list .product-item .product-image img {
            margin-left: auto;
            margin-right: auto;
        }

    .news-box .news-item {
        float: none;
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

        .news-box .news-item .news-excerpt {
            height: auto;
        }

    .video .video-overlay h3 {
        font-size: 18px;
    }

    .intro-slide-ovelay {
        font-size: 22px;
    }

        .intro-slide-ovelay span {
            max-width: 70%;
        }

    footer .bottom {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

        footer .bottom > .column.half {
            display: none;
        }

        footer .bottom > .column:last-child {
            width: 100%;
            padding-left: 0;
            max-width: 100%;
        }

        footer .bottom h3 {
            text-align: center;
        }

        footer .bottom .message {
            text-align: center;
        }

    .social {
        display: table;
        flex-direction: unset;
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }

        .social > li {
            display: inline-block;
        }

    footer .copyrights {
        border-top: 0;
        border-bottom: 0;
        padding-top: 15px;
    }

        footer .copyrights p {
            display: none;
        }

        footer .copyrights img {
            float: none;
            margin: 0 auto;
        }

    .news-box h2,
    .products-box h2 {
        font-size: 18px;
        padding: 0 0 25px 0;
    }

    .news-box .news-item {
        text-align: center;
    }

        .news-box .news-item .news-title {
            font-size: 15px;
            line-height: 1.3;
            height: auto;
            margin-bottom: 10px;
            text-align: center;
        }

    .logo-box {
        width: 145px;
        margin-bottom: 25px;
    }

        .logo-box img {
            height: 103px;
            width: 145px;
        }

    .products-list .product-item .product-image,
    .products-list .product-item .product-image img {
        height: 260px;
    }

    .products-list .product-item {
        min-height: 435px;
    }

    .paar {
        display: block;
        flex-direction: unset;
        padding: 0;
        border-bottom: 0;
    }

        .paar > li {
            flex: none;
            width: 100%;
            padding: 0 !important;
            margin-bottom: 15px;
        }

    .video {
        background: none;
    }

        .video .video-overlay {
            position: static;
            color: #44505f;
            margin-top: 25px;
            display: block;
            flex-direction: unset;
        }

            .video .video-overlay .video-whatch {
                display: none;
            }

    .show-xs.video-whatch {
        display: block !important;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        font-size: 15px;
        margin-left: -78px;
        z-index: 2;
    }

    .video:hover img,
    .news-box .news-item .news-image a:hover img,
    .products-list .product-item .product-image img:hover,
    .intro:hover img,
    .paar .category:hover img {
        opacity: 1;
    }

    .video.on .video-whatch.show-xs {
        display: none !important;
    }

    .promo h1 {
        font-size: 22px;
        line-height: 1.27;
    }

    .promo p {
        font-size: 12px;
        padding-top: 5px;
    }

    .intro-slide-ovelay span {
        display: none;
    }

    .news-list .news-item {
        display: none;
    }

        .news-list .news-item:first-child {
            display: block;
        }

    .news-box .news-item .news-excerpt,
    .news-box .news-item .news-links {
        display: none;
    }

    .mobile-show-more {
        display: block;
    }

    .news-box .news-item .news-image {
        margin-bottom: 0;
    }

    .paar .category {
        margin-left: auto;
        margin-right: auto;
    }

    .paar:first-child {
        border-top: 0;
    }

    .video.on .video-overlay {
        visibility: visible;
    }
    .catalog-box .wrapper {
        max-width: 530px;
        padding-left:20px;
        padding-right:20px;
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }

    .catalog-box .products-list .product-item .product-image img,
    .catalog-box .products-list .product-item .product-image {
        height: auto;
    }
    .catalog-box .products-list .product-item {
        padding-left:0 !important;
        padding-right:0 !important;
        width:100%;
    }
        .catalog-box .products-list .product-item .product-image img {
            width:100%;
        }
    .catalog-tools {
        padding: 0 0 30px 0;
    }
    .breadcrumbs {
        padding:0;
    }
        .breadcrumbs .wrapper {
            border-top:1px solid #e5e5e5;
            padding:30px 0;
        }
    .sidebar {
        padding: 20px;
        margin-top: -53px;
        width: 160px;
        left: 0;
        background: #efefef;
        -webkit-transition: -webkit-transform ease 0.3s;
        transition: transform ease 0.3s;
        -webkit-transform: translate3d(-160px,0,0);
        transform: translate3d(-160px,0,0);
    }
        .sidebar.on {
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
        .sidebar .menu-tail.show-xs {
            display:block !important;
        }
    .catalog-box .products-list .product-item .product-title {
        height:auto;
        white-space:normal;
    }
    .catalog-box .products-list .product-item .product-excerpt {
        height:auto;
        max-width:100%;
    }
    .shopping-cart-table .col-img {
        display: none;
    }
    .shopping-cart-table .col-title {
        padding-left:0;
    }
    .shopping-cart-table p {
        padding-bottom:0;
    }
    .shopping-box h1, .box-wrapper-mini h2 {
        padding-bottom: 30px;
    }
    .form-group.form-relative > label:first-child {
        position: static;
        height: auto;
        padding-bottom: 7px;
        line-height: 1.2;
        width: auto;
        left:0;
    }
    .box-wrapper-mini {
        padding: 30px 0;
        max-width:400px;
        margin-left:auto;
        margin-right:auto;
    }
    .button.btn-right {
        float: none;
        margin-top: 15px;
        margin-bottom:-30px;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }

	a.button {
	    padding-top: 3px;
	}
    /* text */
    .text {
        font-size: 14px;
        padding: 30px 0;
    }

        .text ol, .text ul {
            padding: 10px 0;
        }

        .text p {
            text-indent: 0;
        }
        .text h1, .text h2, .text h3, .text h4 {
            padding: 10px 0;
            font-size: 22px;
        }

        .text h2 {
            font-size: 18px;
        }

        .text h3 {
            font-size: 16px;
        }

        .text h4 {
            font-size: 14px;
        }

    /* text */

	.continueBuy {
		margin-left: 0px;
		bottom: 0px;
		display: block;
	}
}
@media all and (max-width:560px) {
    .products-list .product-item .product-image, .products-list .product-item .product-image img {
        height: 160px;
    }
    .products-list .product-item {
        min-height: 335px;
    }
        .products-list .product-item .product-title {
            height: 54px;
            white-space:normal;
            font-size:12px;
            line-height:18px;
        }
    .catalog-box .products-list .product-item .product-title {
        font-size:15px;
        line-height:20px;
    }
    .catalog-box .products-list .product-item .product-excerpt {
        font-size: 14px;
        line-height: 20px;
    }
    .breadcrumbs {
        font-size:12px;
    }
    .catalog-box h1, .shopping-box h1, .box-wrapper-mini h2 {
        font-size: 24px;
        padding-bottom: 30px;
    }
    .product-item-box h1 {
        font-size:24px;
    }
    .shopping-cart-table thead {
        display: none;
    }
    .shopping-cart-table tr {
        display:block;
        border-bottom:1px solid #e5e5e5;
        padding:20px 0;
        position:relative;
    }
    .shopping-cart-table td {
        display: block;
        width:100%;
        padding:0 !important;
        border:0 !important;
    }
    .shopping-cart-table {
        border-top:1px solid #e5e5e5;
    }
    .shopping-cart-table .col-remove {
        position: absolute;
        top: 11px;
        right: 0;
        padding:0;
        margin:0;
    }
    .shopping-cart-table .col-quantity {
        width:99px;
    }
    .shopping-cart-table .col-price {
        width:auto;
    }
    .promo-code-box label {
        width:auto;
        text-align:right;
        padding-right:10px;
    }

    /* popup */
    .popup-contact {
        padding:40px 30px;
    }
    .popup p {
        font-size:15px;
    }
    .popup .form .row {
        display:block;
        width:100%;
        padding-left:0 !important;
        padding-right:0 !important;
    }
    /* popup */
}


@media all and (max-width:480px) {
	a.button {
	    padding-top: 11px;
	}
    .paar .category .powered-by, .bx-controls-direction {
        display:none;
    }
    .images .thumb {
        height: 40px;
        width: 40px;
        margin: 0 5px 10px 5px;
    }
    .product-image-large {
        margin-bottom:20px;
    }
    .colors {
        padding: 20px 0 40px 0;
    }
    .buy {
        display: block;
        flex-direction: unset;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        padding-top: 20px;
        text-align:center;
    }
    .buy-price {
        line-height: 1.3;
        padding-right: 0;
        text-align:center;
        padding-bottom:20px;
    }
    .colors .bx-controls-direction {
        display:block;
    }
    .product-details {
        padding:10px 0;
    }
    .center-box {
        padding: 20px 0 20px 0;
        text-align: center;
    }
    .mobile {
		display: block;
    }
    .desktop {
		display: none;
    }
    .b_popup {
		padding: 30px 10px;
    }
    .b_popup ._title {
		font-size: 22px;
		margin-bottom: 20px;
    }
}