﻿* {
    display:none;
}
body, html {
    display:block;
}
.support {
    display:block;
    width:300px;
    padding:100px 0;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
    .support a {
        display: inline;
        color: #8699ac;
    }