@media (max-width: 1919px) {
    .top-header {
        padding-left: 30px;
        padding-right: 30px;
    }
        .top-header .main-menu {
            margin-left: 20px;
        }
    .main-menu li, .mini-menu li {
        padding: 0 10px;
    }
    .top-header .sh-cart {
        margin-left: 20px;
    }
    .bottom-header {
        padding-left: 256px;
        padding-right: 30px;
    }
    .top-header .sh-cart label, .top-header .link-shop i {
        display: none;
    }
    .bottom-header ul li {
        padding-right:20px;
    }
    .top-header .link-shop {
        padding-left: 0;
        width: 33px;
    }
    .top-header .logo img {
        height:22px;
        margin:3px 0;
    }
}
@media (max-width: 1439px) {
    .top-header .logo img {
        height: 18px;
        margin: 5px 0;
    }
    .top-header .main-menu {
        margin-left: 10px;
    }
        .main-menu li a, .mini-menu a {
            font-size: 14px;
        }
    .bottom-header ul li {
        padding-right: 10px;
        font-size: 14px;
    }
        .bottom-header ul li.h {
            font-size: 14px;
            letter-spacing: 1px;
        }
    .bottom-header {
        padding-left: 212px;
        padding-right: 30px;
        padding-bottom:16px;
    }
    .top-header .work .phone {
        font-size:12px;
    }
}
@media (max-width: 1300px){
    .top-header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .bottom-header {
        padding-left: 202px;
        padding-right: 20px;
    }
}
@media (max-width: 1279px) {
    .main-menu li a, .mini-menu a {
        font-size: 12px;
    }
    .bottom-header ul li {
        font-size: 12px;
    }

        .bottom-header ul li.h {
            font-size: 12px;
        }
}
    @media (max-width: 1199px) {
        .form-group label.radio.radio-bordered {
            height: auto;
            min-height: 10px;
        }
        .main-menu li a, .mini-menu a {
            line-height:20px;
        }
        .top-header, .bottom-header {
            display: none;
        }
        body {
            padding-top: 66px;
            overflow-y:scroll;
        }
            body.is-mobile {
                overflow-y: hidden;
            }
        .mobile-menu {
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            background: #373737;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 25px;
            padding-top: 66px;
            overflow-y: scroll;
        }

        .mm-wrapper {
            height: 100%;
            overflow: auto;
        }

        .header-mini {
            display: block;
            padding: 19px 25px;
            position: relative;
            z-index: 2;
            background: #282828;
        }

        header .mobile-menu nav {
            display: block;
            margin: 0;
        }

        header .mobile-menu a {
            display: inline-block;
            color: #fff;
            padding-left: 0;
            padding-right: 0;
            font-size: 18px;
            background: none !important;
        }

            header .mobile-menu a:hover {
                background: none !important;
            }

        header .mobile-menu ul {
            display: block !important;
            background: none !important;
        }

            header .mobile-menu ul li {
                display: block !important;
                padding: 0 !important;
            }

        .mini-menu {
            border-top: 1px solid #888888;
            margin-top: 15px !important;
            padding-top: 15px !important;
        }

        .header-mini .logo {
            display: block;
            margin: 3px auto;
            width: 199px;
        }

            .header-mini .logo img {
                display: block;
                width: 100%;
            }

        .header-mini .link-shop {
            height: 30px;
            width: 30px;
            padding: 0;
            float: right;
            position: relative;
            top: -2px
        }

            .header-mini .link-shop span {
                height: 30px;
                width: 30px;
                background-size: contain;
                padding-top: 14px;
                line-height: 14px;
                font-size: 13px;
                position: static;
            }

        .mobile-menu .work {
            height: 32px;
            background-size: auto 32px;
            padding-left: 43px;
            float: right;
            margin-left: 25px;
            color: #fff;
        }

            .mobile-menu .work .phone {
                font-size: 16px;
                line-height: 20px;
                white-space: nowrap;
            }

        .work .shedule {
            font-size: 13px;
            line-height: 13px;
            white-space: nowrap;
            color: #cdcdcd;
        }

        .mobile-menu .columns {
            display: table;
            width: 100%;
            padding-top: 22px;
            padding-bottom: 22px;
        }

            .mobile-menu .columns > div {
                display: table-cell;
                vertical-align: top;
            }

                .mobile-menu .columns > div.col-2 {
                    width: 185px;
                }

        header .mobile-menu .search-box {
            position: relative;
            margin: 0;
            width: 100%;
            top: 0;
            padding-left: 33px;
            border-bottom: 2px solid #fff;
        }

            header .mobile-menu .search-box input {
                width: 100%;
                font-size: 16px;
                height: 33px;
                float: left;
            }

            header .mobile-menu .search-box form {
                width: 100%;
                height: 44px;
            }

            header .mobile-menu .search-box button {
                display: block;
                height: 33px;
                width: 33px;
                background: url(../img/zoom-w.svg) no-repeat 0 50%;
                background-size: 22px 22px;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
            }

        .comments {
            padding-top: 0;
        }
    }

    @media (max-width:1023px) {
        .shopping-cart-wrapper {
            display:flex;
            flex-flow:column;
        }
        .shopping-cart-wrapper .right {
            width: 100%;
            float: none;
            margin-bottom: 40px;
            order: 2;
        }

        .shopping-cart-wrapper .left {
            margin-right: 0;
        }
    }

    @media (max-width: 1024px) {
        .paar:first-child {
            margin-top: 0;
        }

        .double-columns > div:last-child {
            padding-left: 0;
            padding-top: 35px;
        }
    }

    @media (max-width: 768px) {
        .mobile-show-more.more-buttons {
            display:none;
        }
        .promo .fake-table > div {
            display: block;
        }

            .promo .fake-table > div.col-2 {
                padding-top: 10px;
                padding-bottom: 30px;
                font-size: 20px;
                line-height: 26px;
            }

        .promo img {
            height: 54px;
            margin-left: auto;
            margin-right: auto;
        }

        .breadcrumbs {
            float: none;
            max-width: 100%;
        }

        .shopping-cart-table .col-title {
            padding-right: 40px !important;
            padding-bottom: 15px !important;
            padding-top: 20px !important;
        }

        .shopping-cart-table .col-price {
            float: right;
            margin-bottom: 20px;
        }

        .shopping-cart-table .col-quantity {
            float: left;
            margin-bottom: 20px;
        }

        .shopping-cart-table tbody tr:last-child {
            border-bottom: 0;
        }

        .shopping-cart-table tr {
            display: table;
            width: 100%;
        }

        .catalog-tools .sorting {
            float: none;
            margin-top: 20px;
        }

        header nav {
            position: static;
            display: none;
            background: none;
            z-index: 5;
            padding-bottom: 0;
            width: 100%;
        }

        header .mobile-menu a {
            border: 0;
        }

        header .mobile-menu nav > ul:not(.mini-menu) {
            border-top: 0;
        }

        header .mobile-menu .search-box {
            display: block;
            padding: 0;
            background: none;
            padding-left: 33px;
        }

        .catalog-tools {
            padding-top: 30px;
        }

        .tabs-info > ul > li {
            margin-right: 20px;
        }

            .tabs-info > ul > li:last-child {
                margin-right: 0;
            }

            .tabs-info > ul > li a {
                font-size: 18px;
                letter-spacing: 0;
            }

        .tabs-info > ul {
            padding: 25px 0 15px 0;
        }

        .form-group select {
            background-position: 97% 50%;
        }

        .home-revert-blocks {
            display: flex;
            flex-direction: column-reverse;
        }
        .seo-text {
            margin-top: 30px;
            color: #616161;
        }
    }

    @media (max-width: 480px) {
        .product-item-box {
            padding-top: 20px;
        }

            .product-item-box > .wrapper > .double-columns {
                margin-top: 20px;
                padding-top: 20px;
            }
        .mobile-show-more.more-buttons {
            display: block;
            padding-top:30px;
        }
        .colors h4 {
            height: auto;
            line-height: 1.2;
            font-size: 18px;
            float: none;
            margin-bottom: 15px;
            text-align: left;
        }

        .colors {
            margin-bottom: 15px;
        }

        .color-square {
            margin-left: 0;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .buy {
            padding-bottom: 20px;
        }

        .tabs-info > ul {
            padding-bottom: 5px;
            padding-top: 15px;
        }

        .buy .button {
            margin-top: 20px;
        }

        .colors ul {
            float: none;
            width: 100%;
        }

        .images .thumb {
            margin: 0 0 10px 0;
        }

        .product-gallery .images {
            width: 40px;
        }

        .product-gallery .pg-r {
            margin-left: 50px;
        }

        .product-image-large {
            margin-bottom: 0;
        }

        .double-columns > div:last-child {
            padding-top: 15px;
        }

        .colors {
            padding: 17px 0 0 0;
        }

        .buy {
            padding-top: 0;
        }

        .link-sh-change {
            top: 12px;
            right: 14px;
        }

        .box-sh-2 .space {
            padding-top: 0;
        }

        .top-products {
            padding: 30px 0 30px 0;
        }

        .box-sh-2 {
            padding-top: 0;
        }

        .breadcrumbs span, .breadcrumbs a {
            font-size: 11px;
            letter-spacing: 0;
        }

        .breadcrumbs .icon-home {
            padding-left: 31px;
        }

        .catalog-tools .sorting label {
            font-size: 11px;
        }

        .catalog-tools {
            padding: 0 0 20px 0;
        }

        .catalog-box h1 {
            padding-bottom: 20px;
        }

        .catalog-tools {
            padding-top: 20px;
        }

        .shop-w {
            padding: 10px 15px;
        }

        .shopping-resume h3 {
            padding-bottom: 15px;
        }

        .shopping-resume .form-group label.radio {
            margin-bottom: 15px;
        }

        .shopping-resume .form-group {
            padding-bottom: 0px;
        }

        .shopping-resume .promo-code-box {
            padding: 15px 0;
        }

            .shopping-resume .promo-code-box > div:last-child {
                padding-left: 10px;
                width: 105px;
            }

        .shopping-resume .shopping-total {
            padding-top: 0;
        }

        .shopping-box {
            padding-top: 20px;
        }
        .products-list .item {
            display:none;
        }
        .products-list .item:nth-child(1), .products-list .item:nth-child(2), .products-list .item:nth-child(3), .products-list .item:nth-child(4) {
            display: block;
        }
        .products-list.expanded .item {
            display:block;
        }
        .product-gallery {
            display:none;
        }
        .mobile-gallery {
            display:block;
            font-size:0;
            line-height:0;
        }
            .mobile-gallery img {
                display: block;
                width: 100%;
            }
            .mobile-gallery .bx-wrapper {
                background: none;
            }
            .mobile-gallery .bx-wrapper .bx-pager {
                background:none;
                position:static;
                padding:15px 0 10px 0;
            }
                .mobile-gallery .bx-wrapper .bx-pager-item a {
                    border-color:#000;
                }
        .mobile-gallery .bx-wrapper .bx-pager-item a.active {
            background: #000 !important;
        }
        body {
            padding-bottom:50px;
        }
        .double-columns .buy {
            display: none;
        }
        .mobile-buy {
            position: fixed;
            height: 50px;
            z-index: 2;
            background: #f4f4f4;
            bottom: 0;
            left: 0;
            width: 100%;
            display: block;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        }
            .mobile-buy .fake-table {
                width:100%;
                display:table;
            }
            .mobile-buy .fake-td {
                display: table-cell;
                vertical-align: top;
            }
            .mobile-buy.buy .button {
                border-radius:0;
                height:50px;
                display:block;
                width:100%;
                margin:0;
                text-transform:none;
                font-weight:700;
            }
            .mobile-buy.buy .price-col {
                padding:5px 20px;
                text-align:left;
            }
                .mobile-buy.buy .price-col label {
                    display:block;
                    font-size:14px;
                }
                .mobile-buy.buy .price {
                    background-position: 100% 9px;
                    background-size: auto 12px;
                    padding-right: 13px;
                    font-size: 24px;
                }
            .mobile-buy.buy .button span {
                height: 50px;
                padding-left: 27px;
                background-size: 18px auto;
                line-height: 50px;
            }
        .top-products.buy-too {
            padding-bottom:60px;
        }
		.product-price .price {
		    background: url(../img/rur.png) no-repeat 100% 2px;
		    background-size: auto 12px;
		}
    }


    @media (max-width:374px) {
        .mobile-menu .columns > div {
            display: block;
        }

            .mobile-menu .columns > div.col-2 {
                width: 100%;
            }

        .mobile-menu .work {
            float: none;
            margin-left: 0;
            margin-top: 20px;
        }

        .mobile-menu {
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
        }

        .header-mini .logo {
            display: block;
            margin: 5px auto;
            width: 120px;
        }

        .header-mini {
            height: 52px;
            padding: 15px;
        }

        .btn-mobile-menu {
            background-size: auto 14px;
            position: relative;
            top: -3px;
        }

        body {
            padding-top: 52px;
        }

        .mobile-menu {
            padding-top: 52px;
        }

            .mobile-menu .columns {
                padding-top: 15px;
                padding-bottom: 15px;
            }

        header .mobile-menu a {
            font-size: 14px;
            line-height: 26px;
        }

        .mobile-menu .work .phone {
            font-size: 15px;
        }

        .header-mini .link-shop {
            top: -5px;
        }
    }