/* catalog */
.breadcrumbs {
    text-align: left;
    padding:0;
    color: #3b4858;
    text-transform: uppercase;
    float:left;
    max-width:100%;
    font-size:0;
    line-height:0;
}
    .breadcrumbs span, .breadcrumbs a {
        display: inline-block;
        font-size: 11px;
        line-height: 25px;
        padding-top:2px;
        height: 25px;
        overflow: hidden;
        letter-spacing:0.5px;
    }
    .breadcrumbs .icon-home {
        background:url(../img/i-home.png) no-repeat 0 50%;
        background-size:auto 21px;
        padding-left:33px;
    }
.catalog-tools {
    display: table;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 35px 0 34px 0;
    margin-bottom:41px;
}
    .catalog-tools .sorting {
        float:right;
        margin-top:4px;
    }
        .catalog-tools .sorting label {
            font-size: 11px;
            font-weight: 700;
            padding-top: 1px;
        }
        .catalog-tools .sorting select {
            font-size: 11px;
            -webkit-appearance: menulist;
            -moz-appearance: menulist;
        }
.mobile-buy {
    display:none;
}
.seo-text {
    border-top: 1px solid #e5e5e5;
    margin-top:50px;
}
.seo-text.text img {
    display:block;
    width:143.17px;
    margin:0 auto 15px auto;
}
.seo-text.text p {
    text-indent:0;
}
/* catalog */
/* header */
body {
    padding-top: 76px;
}
header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:0;
    z-index:100000;
}
    .bottom-header {
        padding-left: 376px;
        padding-right: 50px;
        background: #eee;
        padding-top: 12px;
        padding-bottom: 12px;
        display: none;
        color:#fff;
    }
    header.expanded .bottom-header {
        display:block;
    }
    .top-header {
        background: #282828;
        color: #fff;
        height: 76px;
        padding-left: 50px;
        padding-right: 50px;
        display: table;
        width: 100%;
    }
        .top-header .left {
            float:left;
            padding-top:23px;
        }
        .top-header .right {
            float: right;
            padding-top: 23px;
        }
        .top-header a {
            color: #fff;
        }
        .top-header .logo {
            float:left;
            display:block;
        }
            .top-header .logo img {
                height:28px;
                display:block;
            }
        .top-header .main-menu {
            margin-left:60px;
            float:left;
        }
        .main-menu, .mini-menu {
            list-style: none;
            display: table;
        }
            .main-menu li, .mini-menu li {
                padding: 0 10px;
                display: table-cell;
                vertical-align: middle;
                font-size: 0;
                line-height: 0;
            }
                .main-menu li a, .mini-menu a {
                    display: block;
                    font-size: 16px;
                    line-height: 30px;
                }
                    .main-menu li a:hover {
                        color: #9facb3;
                    }
                    .main-menu li:not(.has-submenu) a:hover span {
                        border-bottom-color: transparent !important;
                    }
                .main-menu li.has-submenu a, .mini-menu li.has-submenu a {
                    position: relative;
                    padding-right: 13px;
                }
                .main-menu li a span, .mini-menu li a span {
                    border-bottom: 1px dashed transparent;
                    transition: border-color ease 0.3s;
                }
                .main-menu li.has-submenu a span, .mini-menu li.has-submenu a span {
                    border-bottom-color: #9facb3;
                }
                .main-menu li a:hover span, .mini-menu li a:hover span {
                    color: #9facb3;
                }
                .main-menu li.on a span,
                .main-menu li.active a span,
                .mini-menu li.active a span,
                .mini-menu li.on a span {
                    border-bottom-color: #fff;
                }
                .main-menu li.on a:hover span,
                .main-menu li.active a:hover span,
                .mini-menu li.active a:hover span,
                .mini-menu li.on a:hover span {
                    border-bottom-color: #9facb3 !important;
                }
                .main-menu li.has-submenu a::after,
                .mini-menu li.has-submenu a::after {
                    width: 0;
                    height: 0;
                    border-left: 3px solid transparent;
                    border-right: 3px solid transparent;
                    border-top: 4px solid #fff;
                    content: ' ';
                    font-size: 0;
                    line-height: 0;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: 0;
                }
                .main-menu li.has-submenu a:hover::after,
                .mini-menu li.has-submenu a:hover::after {
                    border-top: 4px solid #9facb3;
                }
                .main-menu li.has-submenu.on a::after,
                .mini-menu li.has-submenu.on a::after {
                    border-left: 3px solid transparent;
                    border-right: 3px solid transparent;
                    border-top:0;
                    border-bottom: 4px solid #fff;
                }
                .main-menu li.has-submenu.on a:hover::after,
                .mini-menu li.has-submenu.on a:hover::after {
                    border-bottom: 4px solid #9facb3;
                }
            .main-menu .search-box {
                height:36px;
                opacity:0;
                width:28px;
                transition:all ease 0.3s;
                left:0;
                top:0;
                z-index:2;
                margin:0;
            }
            .main-menu .search {
                width:150px;
                position:relative;
                padding:0;
                margin-left:19px;
                margin-right:15px;
            }
            .main-menu .btn-open-search {
                height: 28px;
                width: 28px;
                display: block;
                background: url(../img/zoom-w.svg) no-repeat 50% 50%;
                background-size: auto 18px;
                position:relative;
                z-index:1;
            }
            .main-menu .search.on .btn-open-search {
                display:none;
            }
header .search-box button {
    display: block;
    height: 28px;
    width: 28px;
    background: url(../img/zoom-w.svg) no-repeat 50% 50%;
    background-size: 18px 18px;
    float: left;
    display: none;
}
header .search-box input {
    display: block;
    -webkit-appearance: none;
    width: 100px;
    color: #fff;
    background:none;
    padding:0;
    font-size: 13px;
    text-align: left;
    height: 28px;
    float:left;
    margin:0;
}
header .search-box form {
    width:150px;
    height:28px;
}
.main-menu .search.on .search-box {
    width: 150px;
    opacity: 1;
}
.main-menu .search.on .search-box button {
    display:block;
}
.work {
    height:28px;
    background:url(../img/i-call.png) no-repeat 0 50%;
    background-size:auto 28px;
    padding-left:35px;
    text-align:left;
    float:left;
    margin-left:10px;
    color:#fff;
}
    .work .phone {
        font-size:13px;
        line-height:17px;
        white-space:nowrap;
    }
    .work .phone a {
        color:#fff;
        transition:color ease 0.3s;
    }
        .work .phone a:hover {
            color: #9facb3;
        }
    .work .shedule {
        font-size: 11px;
        line-height: 11px;
        white-space: nowrap;
    }
.top-header .sh-cart {
    float:left;
    height:28px;
    margin-left:150px;
}
    .top-header .link-shop i {
        font-style: normal;
    }
    .top-header .sh-cart label {
        display:block;
        float:left;
        line-height:28px;
        font-size:13px;
        line-height:18px;
        padding-top:10px;
        margin-right:10px;
    }
    .top-header .mini-menu {
        float: left;
    }
.top-header .link-shop {
    display:block;
    float:left;
    height:28px;
    position:relative;
    padding-left:33px;
    text-align:left;
    font-weight:700;
    text-transform:uppercase;
    color:#fff;
    font-size:13px;
    padding-top:10px;
    line-height:18px;
}
    .link-shop span {
        height:28px;
        width:28px;
        background:url(../img/i-shop.png) no-repeat 50% 50%;
        background-size:contain;
        padding-top:12px;
        display:block;
        position:absolute;
        z-index:1;
        left:0;
        top:0;
        text-align:center;
        font-weight:700;
        font-size:14px;
        line-height:16px;
        color:#000;
    }
.bottom-header ul {
    list-style:none;
    display:table;
}
    .bottom-header ul li {
        padding-right:32px;
        line-height:28px;
        float:left;
        font-size:14px;
        display:block;
        white-space:nowrap;
    }
    .bottom-header ul li.h {
        color: #4d4d4f;
        font-size:14px;
        text-transform:uppercase;
        font-weight:700;
        letter-spacing:1px;
    }
        .bottom-header ul li a {
            color: #4d4d4f;
        }
            .bottom-header ul li a span {
                border-bottom:1px dashed transparent;
                transition:border-bottom-color ease 0.3s;
            }
            .bottom-header ul li a:hover span,
            .bottom-header ul li.active a span {
                color: #9facb3;
            }
.header-mini, .mobile-menu {
    display: none;
    background: #373737;
}
.btn-mobile-menu {
    height:28px;
    width:28px;
    background:url(../img/menu-w.svg) no-repeat 50% 50%;
    background-size:auto 28px;
    cursor:pointer;
    display:block;
    float:left;
}
.shopping-cart-wrapper {
    padding-top:4px;
}
.shopping-cart-wrapper .right {
    width: 410px;
    float: right;
}
.shopping-cart-wrapper .left {
    margin-right: 430px;
}
.shopping-box {
    padding-top:35px;
}
.shopping-cart-table {
    margin-top:3px;
}
.shopping-box .breadcrumbs {
    float:none;
}
.shopping-cart-table tbody td {
    color: #282828;
    vertical-align:top;
}
.shopping-cart-table .col-price {
    text-align:right;
}
.col-price .price {
    display: block;
    float: right;
    padding-right: 15px;
    line-height: 36px;
    background: url(../img/rur.png) no-repeat 100% 13px;
    background-size: auto 14px;
    color: #282828;
    font-weight:700;
    font-size:24px;
}
.shopping-cart-table tbody .col-title {
    font-size:16px;
    line-height:18px;
    text-transform:none;
}
.shopping-cart-table .col-title {
    padding-left: 10px;
}
.shopping-cart-table .col-quantity {
    width:130px;
}
.shopping-cart-table tbody tr:last-child td {
    border-bottom:0;
}
.shopping-resume {
    border: 2px solid #e6e6e6;
    margin-top:10px;
    position:relative;
}
    .shopping-resume h3 {
        font-size:19px;
        line-height:1.2;
        padding-bottom:30px;
    }
    .shop-w {
        padding:20px 25px;
        color: #282828;
    }
.shopping-resume .form-group label.radio {
    padding-left: 30px;
}
.shopping-resume .form-group label.radio span {
    font-weight:700;
}
.shopping-resume .form-group label {
    color: #282828;
    font-size: 13px;
    margin-bottom:30px;
}
.shopping-resume .promo-code-box {
    float: none;
    border-top: 1px solid #ebebeb;
    padding:33px 0 40px 0;
    display:table;
    width:100%;
    margin:0;
    margin-top: 10px;
}
    .shopping-resume .promo-code-box input {
        font-size:15px;
    }
    .shopping-resume .promo-code-box > div {
        display:table-cell;
        vertical-align:top;
        width:auto;
    }
    .shopping-resume .promo-code-box .button {
        min-width: 100px;
        background-color: #626262;
        line-height:42px;
        text-transform:none;
        font-weight:700;
        width:100%;
    }
.shopping-resume .promo-code-box > div:last-child {
    padding-left: 20px;
    width: 155px;
}
.shopping-resume .shopping-total {
    border-top: 1px solid #ebebeb;
    padding-top:15px;
}
    .shopping-resume .shopping-total table {
        width: 100%;
        color: #282828;
    }
        .shopping-resume .shopping-total table th {
            text-align:left;
            vertical-align:middle;
            font-size:17px;
            line-height:26px;
            padding-top:12px;
            padding-bottom:12px;
        }
        .shopping-resume .shopping-total table th.large {
            font-weight:700;
            font-size: 24px;
            line-height:40px;
        }
        .shopping-resume .shopping-total table td {
            text-align: right;
            vertical-align: middle;
            line-height: 26px;
            font-size: 26px;
            padding-top: 12px;
            padding-bottom: 12px;
        }
            .shopping-resume .shopping-total table td.large {
                font-size: 40px;
                line-height: 40px;
            }
        .shopping-resume .shopping-total .price {
            display: block;
            background: url(../img/rur.png) no-repeat 100% 9px;
            background-size: auto 14px;
            padding-right: 15px;
        }
            .shopping-resume .shopping-total .price.green {
                color: #229923;
                background-image: url(../img/rur-g.png);
            }
            .shopping-resume .shopping-total td.large .price {
                background-position: 100% 15px;
                background-size: auto 20px;
                padding-right: 20px;
                font-weight: 700;
            }
.link-sh-change {
    color: #1d3dac;
    font-size:18px;
    text-transform:uppercase;
    line-height:1;
    position:absolute;
    right:24px;
    top:24px;
    z-index:1;
}
.btn-order {
    color: #fff;
    background: #1e3cac;
    height: 80px;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: background ease 0.3s;
}
.btn-order:hover {
    color: #fff;
    background:#3b4858;
}
.clear {
    clear:both;
}
.mini-cart {
    margin-top:-6px;
    padding-bottom:8px;
}
    .mini-cart table {
        width: 100%;
        color: #000000;
    }
    .mini-cart a {
        color: #000000;
    }
        .mini-cart table td {
            vertical-align:top;
            padding-bottom:25px;
        }

        .mini-cart table tr td:first-child {
            width:75px;
            padding-right:15px;
        }
        .mini-cart table tr td:first-child img {
            width: 100%;
        }
    .mini-cart .title {
        font-size:13px;
        line-height:15px;
        padding-bottom:8px;
    }
    .mini-cart .price {
        display: table;
        background: url(../img/rur.png) no-repeat 100% 8px;
        background-size: auto 10px;
        padding-right: 8px;
        font-weight:700;
        font-size:18px;
        line-height:1;
    }
    .mini-cart .quantity {
        color: #919191;
        font-size:13px;
        line-height:1;
    }
.box-sh-2 {
    padding-top:25px;
}
.box-sh-2 h2 {
    padding:4px 0 13px 0;
    border-bottom:1px solid #e5e5e5;
    font-size:20px;
    margin-bottom:15px;
}
    .box-sh-2 .form-group label.radio.radio-bordered {
        padding: 20px 20px 20px 40px;
        height: auto;
        color:#000;
        border-color:transparent;
        font-size:14px;
        margin-bottom:0;
    }
    .box-sh-2 .form-group label.radio.radio-bordered.on {
        border-color: #ffd800
    }
    .box-sh-2 .form-group label.radio span {
        font-weight:700;
        font-size:13px;
    }
.shipping-addr .form-group {
    padding-bottom:15px;
}
.shipping-addr {
    width:100%;
    max-width:425px;
}
.box-sh-2 .hint {
    font-style:italic;
    text-transform:none;
}
.box-sh-2 .space {
    padding-top:20px;
}
.product-mini-item {
    display:block;
    color:#000;
    text-align:center;
    padding:0 10px;
}
    .product-mini-item img {
        margin:0 auto;
        display:block;
        max-width:100%;
    }
    .product-mini-item > span {
        display: block;
    }
    .product-mini-item > .title {
        display: block;
        white-space:nowrap;
        text-transform:uppercase;
        line-height:22px;
        font-size:18px;
        font-weight:700;
        overflow:hidden;
        margin-bottom:15px;
    }
    .product-mini-item > .description {
        display: block;
        line-height: 20px;
        font-size: 16px;
        height: 40px;
        overflow: hidden;
        text-transform:uppercase;
        color: #4d4855;
        margin-bottom: 10px;
    }
    .product-mini-item > .price {
        display: block;
        white-space: nowrap;
        text-transform: uppercase;
        line-height: 20px;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }
.top-products .bx-wrapper {
    background:none;
    margin-left:auto;
    margin-right:auto;
}
.top-products {
    padding:60px 0 60px 0;
}
    .top-products .bx-wrapper .bx-controls-direction a.bx-next,
    .top-products .bx-wrapper .bx-controls-direction a.bx-prev {
        background-color:rgba(0,0,0,0.35);
        line-height:43px;
    }
.promo .fake-table {
    display:table;
    margin-left:auto;
    margin-right:auto;
}
    .promo .fake-table > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #384f5c;
        padding:0 10px;
    }
    .promo img {
        display:block;
        height:74px;
    }
    .promo .fake-table > div.col-2 {
        font-weight:700;
        line-height:37px;
        font-size:27px;
        text-transform:uppercase;
    }
.promo .wrapper {
    margin-top: 0;
    padding-top: 70px;
    border-top: 0;
}
.paar:first-child {
    margin-top: 20px;
    border-top: 0;
}
.product-item-box {
    padding-top:35px;
}
    .product-item-box > .wrapper > .double-columns {
        border-top: 1px solid #e5e5e5;
        margin-top:35px;
        padding-top:40px;
    }
    .product-item-box .breadcrumbs {
        float:none;
    }
    .product-item-box h1 {
        text-transform:none;
        font-size:20px;
        color:#282828;
        line-height:1.2;
        text-align:left;
    }
    .product-item-box .tags {
        border-bottom:1px solid #e5e5e5;
        padding:15px 0 10px 0;
        display:table;
        width:100%;
    }
        .product-item-box .tags a {
            color: #1e3cac;
            border: 1px solid #1e3cac;
            padding:0 10px;
            border-radius:14px;
            white-space:nowrap;
            height:28px;
            font-size:14px;
            line-height:24px;
            display:block;
            float:left;
            margin-right:10px;
            margin-bottom:10px;
        }
.colors {
    display:table;
    width:100%;
    padding-top:17px;
    padding-bottom:0;
    border-bottom:0;
}
    .colors h4 {
        height:42px;
        line-height:42px;
        font-size:18px;
        float:left;
        margin-right:15px;
    }
    .colors ul {
        list-style:none;
        display:table;
        float:left;
    }
        .colors ul li {
            float:left;
        }
.buy {
    border-top: 0;
    padding:17px 0 35px 0;
    margin: 0;
    display: block;
    max-width:100%;
    flex-direction: unset;
    border-bottom:1px solid #e5e5e5;
}
    .buy .price {
        display: table;
        background: url(../img/rur.png) no-repeat 100% 12px;
        background-size: auto 20px;
        padding-right: 18px;
        font-weight: 700;
        font-size: 40px;
        line-height: 1;
        white-space:nowrap;
    }
    .buy .button {
        height: 64px;
        display: block;
        width: 100%;
        color: #fff;
        background: #1e3cac;
        width: 100%;
        transition: background-color ease 0.3s;
        margin-top: 35px;
        max-width: 310px;
    }
    .buy .button:hover {
        background:#3b4858;
    }
        .buy .button span {
            display: table;
            height: 64px;
            margin: 0 auto;
            padding-left: 40px;
            background: url(../img/shc.svg) no-repeat 0 50%;
            background-size:24px auto;
            line-height:64px;
            white-space:nowrap;
        }
.tabs-info {
    color: #6e696b;
    font-size:16px;
    line-height:1.2;
}
    .tabs-info p, .tabs-info ul, .tabs-info ol, .tabs-info h4 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .tabs-info ul, .tabs-info ol {
        list-style-position:inside;
    }
    .tabs-info h4 {
        font-size: 16px;
        line-height: 1.2;
        color:#1e3cac;
    }
    .tabs-info .details {
        display:none;
    }

    .tabs-info .expanded .details {
        display: block;
    }
    .tabs-info .more-details {
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.57) 25%, rgba(255,255,255,0.86) 38%, rgba(255,255,255,1) 44%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.57) 25%,rgba(255,255,255,0.86) 38%,rgba(255,255,255,1) 44%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.57) 25%,rgba(255,255,255,0.86) 38%,rgba(255,255,255,1) 44%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        padding-top: 40px;
        position: relative;
        margin-top: -40px;
        z-index: 2;
        display:block;
    }
    .tabs-info .expanded .more-details {
        display:none;
    }
        .tabs-info .more-details a,
        .tabs-info .less-details a {
            display: table;
            margin-left: auto;
            margin-right: auto;
            text-transform: uppercase;
            font-size: 20px;
            color: #353535;
            position: relative;
            padding-right: 17px;
        }
            .tabs-info .more-details a:after,
            .tabs-info .more-details a:before,
            .tabs-info .less-details a:after,
            .tabs-info .less-details a:before {

                right: 0;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                display: block;

            }

            .tabs-info .more-details a:after {
                border-color: rgba(255, 255, 255, 0);
                border-top-color: #fff;
                border-width: 4px;
                margin-left: -4px;
                right: 2px;
                top: 50%;
                margin-top: -2px;
            }
            .tabs-info .more-details a:before {
                border-color: rgba(0, 0, 0, 0);
                border-top-color: #353535;
                border-width: 6px;
                margin-left: -6px;
                top: 50%;
                margin-top: -2px;
            }

            .tabs-info .less-details a:after {
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #fff;
                border-width: 4px;
                margin-left: -4px;
                right: 2px;
                bottom: 50%;
                margin-bottom: -2px;
            }

            .tabs-info .less-details a:before {
                border-color: rgba(0, 0, 0, 0);
                border-bottom-color: #353535;
                border-width: 6px;
                margin-left: -6px;
                bottom: 50%;
                margin-bottom: -2px;
            }
    .tabs-info > ul {
        list-style:none;
        display:table;
        padding:27px 0;
    }
        .tabs-info > ul > li {
            display:block;
            float:left;
            margin-right:90px;
        }
        .tabs-info > ul > li:last-child {
            margin-right: 0;
        }
            .tabs-info > ul > li a {
                display: block;
                text-transform: uppercase;
                font-size: 33px;
                padding: 5px 0;
                border-bottom: 3px solid transparent;
                letter-spacing: 1px;
                color: #282828;
            }
            .tabs-info > ul > li.ui-state-active a {
                font-weight:700;
                border-bottom-color:#1e3cac;
            }
.less-details {
    padding-top:10px;
}
.tab-ch {
    color: #282828;
}
    .tab-ch h3 {
        text-align: left;
        text-transform: uppercase;
        font-weight: 700;
        font-size:16px;
        padding:25px 0 10px 0;
    }
    .tab-ch h3:first-child {
        padding-top:10px;
    }
    .tab-ch dl {
        display:table;
        width:100%;
        border-bottom:1px dotted #e5e5e5;
        margin:0;
        padding-top:10px;
    }
    .tab-ch dl dt {
        display: table-cell;
        width: 50%;
        vertical-align:bottom;
        padding-right:10px;
        text-align:left;
    }
    .tab-ch dl dd {
        display: table-cell;
        width: 50%;
        vertical-align: bottom;
        padding-left:10px;
        text-align:right;
        font-weight:700;
    }
        .tab-ch dl span {
            background:#fff;
            position:relative;
            bottom:-2px;
        }
.top-products.buy-too .wrapper {
    border-top:1px solid #e5e5e5;
}
.top-products.buy-too h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    color: #282828;
    padding:35px 0 15px 0;
}
.product-gallery .images {
    float:left;
    width:60px;
    overflow:hidden;
}
.product-gallery {
    display:table;
    width:100%;
}
.product-gallery .pg-r {
    margin-left: 80px;
}
.images .thumb {
    height: 60px;
    width: 60px;
    overflow: hidden;
    display: inline-block;
    margin: 0 0 10px 0;
    cursor: pointer;
}
.product-image-large {
    margin-bottom:0;
}
.scroll {
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}
li.active .color-square::before {
    height:100%;
    width:100%;
    top:0;
    left:0;
    content:' ';
    position:absolute;
    z-index:3;
    border:3px solid #fff;
    box-sizing:border-box;
}
/* 28/12/2018*/
.form-group select {
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    height: 42px;
    width: 100%;
    display: block;
    -webkit-appearance: none;
    font-size: 14px;
    color: #939598;
    padding: 0 10px;
    text-align: left;
    opacity:1;
    padding-right:30px;
    background:url(../img/down.svg) no-repeat 99% 50%;
    background-size:9px auto;
}
select::-ms-expand {
    display: none;
}
.fancybox-slide--image {
    padding:100px 0;
}
.mobile-gallery {
    display:none;
}
.fancybox-container {
    z-index: 99992000000;
}
.mobile-buy {
    display:none;
}
.buy-too .bx-wrapper .bx-pager {
    bottom:-30px;
}
.buy-too .bx-wrapper .bx-pager-item a {
    border: 1px solid #000;
}
.buy-too .bx-wrapper .bx-pager-item a.active {
    background: #000 !important;
    border: 1px solid #000;
}

.product-price .price {
    background: url(../img/rur.png) no-repeat 100% 8px;
    background-size: auto 12px;
    padding-right: 14px;
    display: unset !important;
}