/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
/* MFP */


body {
    -webkit-text-size-adjust:none;
}
body, html, p, h1, h2, h3, h4, h5, h6, img, input, select, textarea, ul, ol, form, button, iframe {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto Condensed', 'Arial Narrow', Arial, sans-serif;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing:border-box;
}
textarea {
	resize:none;
	-webkit-overflow-scrolling: touch;
}
a:focus, input:focus, select:focus, textarea:focus, button:focus {
    outline:none;
}
a, a:link, a:active, a:visited, a:hover {
    text-decoration:none;
    outline:none 0;
    cursor:pointer;
}
.wrapper {
    width:1260px;
    margin-left:auto;
    margin-right:auto;
}

::selection {
    background:#486e7f;
    color:#fff;
}
@font-face {
    font-family: 'HeliosCond';
    src: url('../fonts/HeliosCondC.eot');
    src: local('☺'), url('../fonts/HeliosCondC.woff') format('woff'), url('../fonts/HeliosCondC.ttf') format('truetype'), url('../fonts/HeliosCondC.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HeliosCond';
    src: url('../fonts/HeliosCondLightC.eot');
    src: local('☺'), url('../fonts/HeliosCondLightC.woff') format('woff'), url('../fonts/HeliosCondLightC.ttf') format('truetype'), url('../fonts/HeliosCondLightC.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'HeliosCond';
    src: url('../fonts/HeliosCondC-Bold.eot');
    src: local('☺'), url('../fonts/HeliosCondC-Bold.woff') format('woff'), url('../fonts/HeliosCondC-Bold.ttf') format('truetype'), url('../fonts/HeliosCondC-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* categories box */
.paar:first-child {
    margin-top:50px;
    border-top: 1px solid #e5e5e5;
}
.paar {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 50px 0;
    border-bottom: 1px solid #e5e5e5;
}
    .paar > li {
        flex:1;
        width:50%;
    }
    .paar > li:first-child {
        padding-right:15px;
    }
    .paar > li:last-child {
        padding-left: 15px;
    }
    .paar .category {
        display:block;
        max-width:615px;
        position:relative;
        background:#000;
    }
        .paar .category img {
            position:relative;
            z-index:1;
            display:block;
            width:100%;
            transition:opacity 0.3s ease;
        }
        .paar .category:hover img {
            opacity:0.75;
        }
        .paar .category .category-overlay {
            position:absolute;
            top:50%;
            width:100%;
            left:0;
            text-align:center;
            color:#fff;
            font-size:48px;
            font-weight:700;
            line-height:58px;
            margin-top:-29px;
            z-index:2;
        }
        .paar .category .powered-by {
            position:absolute;
            height:42px;
            background:url(../img/ya-alice.svg) no-repeat 100% 50%;
            background-size:92px 42px;
            padding-right:106px;
            text-align:right;
            color:#fff;
            font-size:24px;
            line-height:42px;
            position:absolute;
            display:block;
            width:220px;
            left:50%;
            margin-left:-110px;
            top:50%;
            z-index:2;
            margin-top:30px;
        }
/* categories box */

/* news box */
.news-box .wrapper {
    padding: 50px 0 20px 0;
    border-top: 1px solid #e5e5e5;
}
    .news-box h2, .products-box h2 {
        text-transform: uppercase;
        text-align: center;
        color: #b9bbc0;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 0 35px 0;
    }
    .news-list {
        display:table;
        width:100%;
    }
        .news-box .news-item {
            float:left;
            width:33.33%;
            padding-bottom:30px;
        }
        .news-box .news-item:nth-child(3n+1) {
            padding-right:20px;
        }
        .news-box .news-item:nth-child(3n+2) {
            padding-right: 10px;
            padding-left:10px;
        }
        .news-box .news-item:nth-child(3n+3) {
            padding-left: 20px;
        }
            .news-box .news-item .news-title {
                color: #4d4d4f;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 20px;
                height: 40px;
                overflow: hidden;
                margin-bottom: 10px;
            }
                .news-box .news-item .news-title a {
                    color: #4d4d4f;
                    transition:color ease 0.3s;
                }
                .news-box .news-item .news-title a:hover {
                    color: #486e7f;
                }
            .news-box .news-item .news-image {
                width:400px;
                overflow:hidden;
                margin-bottom:25px;
                background:#000;
            }
                .news-box .news-item .news-image a,
                .news-box .news-item .news-image img {
                    display:block;
                    width:100%;
                }
                .news-box .news-item .news-image img {
                    transition:opacity ease 0.3s;
                    opacity:1;
                }
                .news-box .news-item .news-image a:hover img {
                    opacity: 0.75;
                }
            .news-box .news-item .news-excerpt {
                color: #77777b;
                font-size: 18px;
                line-height: 26px;
                height: 156px;
                overflow: hidden;
                margin-bottom:25px;
            }
            .news-box .news-item .news-links, .mobile-show-more {
                text-transform: uppercase;
                color: #486e7f;
                font-size: 14px;
                line-height: 16px;
            }
                .news-box .news-item .news-links a, .mobile-show-more a {
                    color: #486e7f;
                }

                    .news-box .news-item .news-links a:hover, .mobile-show-more a:hover {
                        color: #4d4d4f;
                    }
.mobile-show-more {
    padding:0 0 30px 0;
    text-align:center;
    display:none;
}
/* news box */

/* footer */
footer .bottom {
    padding: 50px 0;
    border-top: 1px solid #e5e5e5;
    color: #3b4862;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    width: 100%;
}
    footer .bottom > .column {
        flex:1;
        max-width:33.33%;
        width:33.33%;
        padding-left:10px;
        padding-right:10px;
    }
    footer .bottom > .column:first-child {
        padding-right:20px;
        padding-left:0;
    }
    footer .bottom > .column:last-child {
        padding-left: 20px;
        padding-right:0;
    }
    footer .bottom > .column.half {
        max-width: 16.67%;
        width:16.67%;
    }
    footer .bottom h3 {
        font-weight:400;
        font-size:14px;
        text-transform:uppercase;
        letter-spacing:1px;
        padding-bottom:15px;
    }
    footer .bottom p {
        font-size:14px;
        line-height:24px;
    }
        footer .bottom p a {
            font-weight: 700;
            color: #486e7f;
            transition: color ease 0.3s;
        }
        footer .bottom p a:hover {
            color: #4d4d4f;
        }
    footer .bottom .nav {
        list-style:none;
    }
        footer .bottom .nav li {
            padding: 20px 0 0 0;
            font-size: 14px;
            line-height: 24px;
        }
        footer .bottom .nav li:first-child {
            padding: 5px 0 0 0;
        }
            footer .bottom .nav li a {
                color: #3b4862;
                transition:color ease 0.3s;
            }
            footer .bottom .nav li a:hover {
                color: #486e7f;
            }
footer .copyrights {
    padding: 50px 0;
    border-top: 1px solid #e5e5e5;
    color: #848484;
    font-size:16px;
    line-height:24px;
    display:table;
    width:100%;
}
    footer .copyrights a {
        color: #b9bbc0;
        transition: color ease 0.3s;
    }
    footer .copyrights a:hover {
        color: #486e7f;
    }
    footer .copyrights p {
        max-width:400px;
        float:left;
    }
    footer .copyrights img {
        opacity:0.5;
        display:block;
        height:28px;
        width:auto;
        float:right;
        margin:7px 0;
    }
.social {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    list-style: none;
    padding-top: 35px;
}
    .social > li {
        padding-right:15px;
        font-size:0;
        line-height:0;
        height:24px;
    }
    .social > li:last-child {
        padding-right: 0;
    }
        .social > li img {
            display:block;
            height:24px;
            width:24px;
        }
        .social > li a {
            display:block;
            transition:opacity ease 0.3s;
        }
        .social > li a:hover {
            opacity:0.75;
        }
.subscribe-form {
    position:relative;
}
    .subscribe-form button {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        height: 44px;
        width: 44px;
        display: block;
        -webkit-appearance: none;
        cursor: pointer;
        background: url(../img/email.svg) no-repeat 50% 50%;
        background-size: 24px 24px;
        opacity: 0.15;
        transition: opacity ease 0.3s;
    }
    .subscribe-form button:hover {
        opacity:1;
    }
    .subscribe-form input {
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        position: relative;
        display: block;
        z-index: 1;
        height: 44px;
        padding-left: 15px;
        padding-right: 45px;
        width: 100%;
        -webkit-appearance: none;
        font-size: 17px;
        color: #4d4d4f;
    }
    .subscribe-form input::placeholder {
        color:#b9bbc0;
    }
.message {
    font-size:15px;
    line-height:1.2;
    padding-top:10px;
}
.message.error {
    color: #e62626;
}
/* footer */

/* video box */
.video-box .wrapper {
    padding: 50px 0;
    border-top: 1px solid #e5e5e5;
    overflow:hidden;
}
.video {
    position:relative;
    background:#000;
}
    .video img {
        position: relative;
        width:100%;
        display:block;
        z-index:1;
        transition:opacity ease 0.3s;
    }
    .video.on img, .video.on .video-overlay {
        visibility: hidden;
    }
    .video:hover img {
        opacity:0.75;
    }
    .video .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
        display:block;
    }
        .video .video-overlay > div {
            display:table;
            height:100%;
            width:100%;
        }
        .video .video-overlay > div > div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            height:100%;
            width:100%;
        }
        .video .video-overlay h3 {
            max-width: 63%;
            margin-left: auto;
            margin-right: auto;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.1;
        }
    .video .video-whatch {
        display: block;
        width: 165px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 45px;
        height: 30px;
        white-space: nowrap;
        text-transform: uppercase;
        line-height: 30px;
        font-size: 16px;
        background: url(../img/play.svg) no-repeat 0 50%;
        background-size: 30px 30px;
    }
    .video iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 1;
        opacity: 0;
        cursor:pointer;
    }
    .video.on iframe {
        opacity: 1;
    }
.prelative {
    position:relative;
}
.show-xs {
    display:none !important;
}
/* video box */
/* promo*/
.promo {
    text-align: center;
    text-transform: uppercase;
    color: #38495b;
}
    .promo .wrapper {
        margin-top:50px;
        padding-top:50px;
        border-top:1px solid #e5e5e5;
    }
    .promo h1 {
        font-size: 37px;
        line-height: 47px;
        font-weight: 700;
    }
    .promo a {
        color: #38495b;
        transition:color ease 0.3s;
    }
    .promo a:hover {
        color: #8699ac;
    }
    .promo .pages {
        padding-bottom:50px;
    }
    .promo p {
        color: #8699ac;
        padding-top: 20px;
        font-size: 20px;
        line-height: 1.5;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
/* promo */
/* products box */
.products-box .wrapper {
    padding: 50px 0 20px 0;
}
.products-list {
    display:table;
    width:1290px;
    margin-left:-15px;
}
    .products-list .product-item {
        width:25%;
        float:left;
        padding:0 15px 30px 15px;
        text-align:center;
        min-height:535px;
    }
        .products-list .product-item .product-image {
            height:360px;
            overflow:hidden;
            margin-bottom:20px;
        }
            .products-list .product-item .product-image img {
                display:block;
                height:360px;
                transition:opacity 0.3s ease;

            }
            .products-list .product-item .product-image img:hover {
                opacity:0.75;
            }
        .products-list .product-item .product-title,
        .products-list .product-item .product-code,
        .products-list .product-item .product-price,
        .item .product-mini-item .product-price {
            /*white-space: nowrap;*/
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
            line-height: 20px;
            color: #5a748e;
            margin-bottom: 15px;
        }
            .products-list .product-item .product-title a {
                color: #5a748e;
                transition:color ease 0.3s;
            }
            .products-list .product-item .product-title a:hover {
                color: #4d4d4f;
            }
        .products-list .product-item .product-code {
            font-weight:700;
            color:#4d4d4f;
        }
        .products-list .product-item .product-price,
        .item .product-mini-item .product-price {
            color:#000;
        }
        .products-list .product-item .product-price:last-child {
            margin-bottom:0;
        }

.stroke {
    text-decoration:line-through;
}
/* products box */

/* intro */
.intro {
    background: #fff;
}
.intro img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-width:1920px;
    position:relative;
    transition:opacity 0.3s ease;
    z-index:1;
}
.intro:hover img {
    opacity:0.25;
}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:0;
    background: #000;
    margin:0;
}
.intro-slide {
    background:#fff;
    position:relative;
    top:0;
    left:0;
}
.intro-slide-ovelay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.intro-slide-ovelay .ft {
    cursor: pointer;
    font-size: 37px;
    line-height: 47px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    display:table;
    height:100%;
    width:100%;
}
    .intro-slide-ovelay .ftd {
        display: table-cell;
        height: 100%;
        width: 100%;
        vertical-align:middle;
    }
    .intro-slide-ovelay  span {
        color: #fff;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
.bx-controls-direction {
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    margin-top: -48px;
    z-index: 5;
}
.bx-viewport {
    z-index:1;
}
.bx-wrapper .bx-controls-direction a.bx-next,
.bx-wrapper .bx-controls-direction a.bx-prev {
    position: absolute;
    /*display: block;*/
    height: 48px;
    width: 48px;
    background: rgba(255,255,255,0.35);
    top: 0;
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    -webkit-appearance: none;
    transition: background-color ease 0.3s;
    line-height: 48px;
    text-align: center;
    text-indent: 0;
}
    .bx-wrapper .bx-controls-direction a.bx-next:hover,
    .bx-wrapper .bx-controls-direction a.bx-prev:hover {
        background: rgba(255,255,255,0.45);
    }
.bx-wrapper .bx-controls-direction a.bx-prev {
    left: 10px;
}
.bx-wrapper .bx-controls-direction a.bx-next {
    right: 10px;
}
.bx-wrapper .bx-pager {
    position: absolute;
    z-index: 5;
    width: 100%;
    left: 0;
    bottom: 30px;
    text-align: center;
    font-size: 0;
    line-height: 0;
    padding:0;
}
    .bx-wrapper .bx-pager-item a {
        display: inline-block;
        overflow: hidden;
        border: 1px solid #fff;
        border-radius: 50%;
        margin: 0 5px;
        height: 10px;
        width: 10px;
        background:none !important;
    }
.bx-wrapper .bx-pager-item a.active {
    background: #fff  !important;
}

/* intro */
/* header */
header {
    padding-top: 35px;
    position: relative;
}
    header .wrapper {
        position:relative;
    }
.logo-box {
    width:206px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
}
    .logo-box img {
        height:145px;
        display:block;
        width:206px;
    }
    header nav {
        display: table;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 13px;
    }
    header nav ul {
        list-style: none;
        background: #fff;
    }
        header nav ul li {
            position:relative;
        }
        header nav a {
            color: #4d4d4f;
            font-size: 17px;
            line-height: 23px;
            display: block;
            padding: 10px 20px;
        }

    header nav > ul > li.with-submenu:hover > a {
        background: #fff;
    }
    header nav > ul {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        position: relative;
        z-index: 5;
        background: #fff;
    }
        header nav > ul > li {
            position: relative;
            z-index:6;
        }

            header nav > ul > li ul li:last-child {
                border-bottom:0;
            }
            header nav > ul > li.with-submenu > ul {
                position: absolute;
                width: 200px;
                display: none;
                background:#efefef;

            }
            header nav > ul > li.with-submenu:hover > ul {
                display: block;
            }
            header nav > ul > li.with-submenu > ul > li > ul {
                position: absolute;
                width: 200px;
                left: 200px;
                display: none;
                top: 0;
                background: #efefef;
                margin-top: 0;
                margin-left: 0
            }
            header nav > ul > li.with-submenu > ul > li.with-submenu:hover > ul {
                display:block;
            }
            header nav > ul > li.with-submenu > ul > li > ul > li > ul {
                position: absolute;
                width: 200px;
                left: 200px;
                display: none;
                top: 0;
                background: #efefef;
                margin-top: 0;
                margin-left: 0;
            }

            header nav > ul > li.with-submenu > ul > li > ul > li.with-submenu:hover > ul {
                display: block;
            }
            header nav > ul > li.with-submenu:hover > a,
            header nav > ul > li:hover > a,
            header nav > ul > li > ul > li:hover > a,
            header nav > ul > li > ul > li > ul > li:hover > a,
            header nav > ul > li > ul > li > ul > li > ul > li:hover > a {
                color: #fff;
                background: #486e7f;
                border-color: #486e7f;
            }
header .search-box {
    height:44px;
    position:absolute;
    z-index:1;
    top:50%;
    margin-top:-57px;
    width:244px;
}
    header .search-box button {
        display:block;
        height:44px;
        width:44px;
        background:url(../img/zoom.svg) no-repeat 50% 50%;
        background-size:15px 15px;
        float:left;
    }
    header .search-box input {
        margin-left:44px;
        display:block;
        -webkit-appearance:none;
        width:200px;
        color:#4d4d4f;
        font-size:15px;
        text-align:left;
        height:44px;
    }
header .tools-box {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    right: 0;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
}
    header .tools-box select {
        height: 30px;
        text-transform: uppercase;
        color: #3b4858;
        font-size: 15px;
        background: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        text-align: left;
        padding: 0 10px;
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
    header .tools-box select::-ms-expand {
        display:none;
    }
        header .tools-box .shopping-label {
            height: 30px;
            white-space: nowrap;
            text-transform: uppercase;
            font-size: 15px;
            color: #3b4858;
            padding-left: 5px;
            margin-right: 20px;
            line-height: 30px;
            display: block;
        }
    header .tools-box .shopping-badge {
        height:30px;
        width:30px;
        text-align:center;
        background:url(../img/bag.svg) no-repeat 50% 50%;
        background-size:22px 22px;
        color:#fff;
        text-align:center;
        font-size:11px;
        padding-top:11px;
        display:block;
        line-height:14px;
    }
header .mobile-tools {
    display:none;
}
    header .mobile-tools ul {
        width: 100%;
        display:table;
        list-style: none;
        max-width:100%;
    }
        header .mobile-tools ul > li {
            max-width:33.33%;
            display:table-cell;
            width:33.33%;
            text-align:center;
            font-size:0;
            line-height:0;
            vertical-align:middle;
        }
            header .mobile-tools ul > li a {
                display: block;
                height: 34px;
                width: 34px;
                margin: 0 auto;
            }
            header .mobile-tools ul > li .mobile-bag {
                display: block;
                background: url(../img/bag.svg) no-repeat 50% 50%;
                color: #fff;
                background-size: contain;
                padding-top: 15px;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
            }
            header .mobile-tools ul > li .mobile-humburger {
                background: url(../img/menu.svg) no-repeat 50% 50%;
                background-size: 28px 28px;
            }
            header .mobile-tools ul > li .mobile-search {
                background: url(../img/zoom.svg) no-repeat 50% 50%;
                background-size: 28px 28px;
            }
/* header */

/* catalog box */
.catalog-box .wrapper {
    width:1010px;
    padding-bottom:20px;
}
.catalog-box h1, .shopping-box h1, .box-wrapper-mini h2, .product-item-box h1, .news-box h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    color: #4d4d4f;
    line-height: 1.2;
    padding-bottom: 40px;
}
.catalog-box .products-list {
    margin: 0;
    width: 100%;
}
    .catalog-box .products-list .product-item {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
    }
        .catalog-box .products-list .product-item:nth-child(2n+1) {
            padding-left: 0;
            padding-right: 15px;
        }
        .catalog-box .products-list .product-item:nth-child(2n+2) {
            padding-left: 15px;
            padding-right: 0;
        }
        .catalog-box .products-list .product-item .product-image img,
        .catalog-box .products-list .product-item .product-image {
            height: 490px;
            margin-left:auto;
            margin-right:auto;
        }
        .catalog-box .products-list .product-item .product-title {
            font-size:18px;
            font-weight:700;
            line-height:22px;
            height:22px;
        }
            .catalog-box .products-list .product-item .product-title a,
            .catalog-box .products-list .product-item .product-excerpt a,
            .news-box .news-list .news-item .news-excerpt a {
                color: #4d4d4f;
                transition:color ease 0.3s;
            }
            .catalog-box .products-list .product-item .product-title a:hover,
            .catalog-box .products-list .product-item .product-excerpt a:hover {
                color: #486e7f;
            }
        .catalog-box .products-list .product-item .product-excerpt {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            height: 40px;
            overflow: hidden;
            text-transform: uppercase;
            color: #4d4d4f;
            max-width:75%;
            margin-left:auto;
            margin-right:auto;
            margin-bottom:15px;
        }
/* catalog box */

/* breadcrumbs */
.breadcrumbs {
    text-align: center;
    padding: 60px 0 40px 0;
    color: #3b4858;
    font-size:14px;
    text-transform:uppercase;
}
    .breadcrumbs span, .breadcrumbs a {
        padding: 0 5px;
        color: #3b4858;
    }
    .breadcrumbs a {
        transition:color ease 0.3s;
    }
    .breadcrumbs a:hover {
        color:#8699ac;
    }
/* breadcrumbs */

/* catalog tools */
.catalog-tools {
    display:table;
    width:100%;
    padding:10px 0 60px 0;
}
    .catalog-tools .sorting {
        float: left;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
    }
        .catalog-tools .sorting label {
            height: 20px;
            display: block;
            line-height: 20px;
            color: #3b4858;
            font-size: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding-right:10px;
        }
        .catalog-tools .sorting select {
            height: 20px;
            display: block;
            border: 0;
            padding: 0;
            color: #3b4858;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
            .catalog-tools .sorting select::-ms-expand {
                display:none;
            }
            .catalog-tools .share-box {
                float: right;
                color: #3b4858;
                font-size: 14px;
                letter-spacing: 1px;
                text-transform: uppercase;
                line-height: 20px;
            }
                .catalog-tools .share-box a {
                    color: #3b4858;
                    transition:color ease 0.3s;
                }
                .catalog-tools .share-box a:hover {
                    color:#8699ac;
                }
/* catalog tools */

/* sidebar */
.sidebar {
    background:#fff;
    position:fixed;
    z-index:5;
    padding:10px;
    margin-top:-68px;
}
    .sidebar h3 {
        color: #3b4858;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 20px;
        font-weight:400;
        padding:0 0 10px 0;
    }
    .sidebar ul {
        list-style:none;
    }
        .sidebar ul li {
            padding:10px 0;
            font-size:16px;
            font-weight:700;
            color:#4d4d4f;
        }
            .sidebar ul li a {
                color:#4d4d4f;
                transition:color ease 0.3s;
            }

            .sidebar ul li.active a,
            .sidebar ul li a:hover {
                color: #486e7f;
            }
    .sidebar .menu-tail {
        height:30px;
        width:30px;
        background:#efefef url(../img/menu.svg) no-repeat 50% 50%;
        background-size:16px 16px;
        position:absolute;
        left:100%;
        top:0;
        cursor:pointer;
    }
/* sidebar */

/* shopping cart */
.shopping-box {
    padding-bottom:50px;
}
.shopping-cart-table {
    width:100%;
    border-collapse:collapse;
    border:0;
}
    .shopping-cart-table th {
        border-bottom: 1px solid #e5e5e5;
        vertical-align: middle;
        color: #3b4f64;
        font-weight:700;
        font-size:16px;
        line-height:1.2;
        padding:10px 0;
        text-transform:uppercase;
    }
    .shopping-cart-table td {
        border-bottom: 1px solid #e5e5e5;
        vertical-align:bottom;
        padding:20px 0;
    }
    .shopping-cart-table .col-img {
        text-align: left;
        width: 125px;
    }
    .shopping-cart-table .col-title {
        text-align: left;
        width: 360px;
        padding-left:30px;
        padding-right:30px;
        text-transform:uppercase;
    }
    .shopping-cart-table .col-price {
        text-align: left;
        width:100px;
    }
    .shopping-cart-table .col-quantity {
        text-align: center;
        width: 160px;
    }
    .shopping-cart-table .col-amount {
        text-align: right;
        width: 95px;
    }
    .shopping-cart-table td.col-img {
        font-size: 0;
        line-height: 0;
    }
        .shopping-cart-table .col-img img {
            display: block;
            width: 100%;
        }
    .shopping-cart-table .brand img {
        display:block;
        height:35px;
        margin-bottom:20px;
    }
    .shopping-cart-table h3 {
        font-size: 18px;
        line-height: 1.1;
        color: #4d4d4f;
        font-weight:700;
        padding-bottom:5px;
    }
        .shopping-cart-table h3 a {
            color: #4d4d4f;
        }
        .shopping-cart-table p {
            color: #939598;
            font-size: 15px;
            line-height: 1.1;
            padding-bottom: 10px;
        }
            .shopping-cart-table p a {
                color: #939598;
            }
    .shopping-cart-table td.col-price, .shopping-cart-table td.col-amount {
        color: #939598;
        font-size: 18px;
        line-height: 36px;
        text-transform: uppercase;
    }
    .shopping-cart-table .col-remove {
        font-size:0;
        line-height:0;
        width:18px;
    }
        .counter {
            height: 36px;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            max-width: 99px;
            margin-left:auto;
            margin-right:auto;
        }
    .counter .plus, .counter .minus {
        width: 33px;
        border: 1px solid #e5e5e5;
        line-height: 33px;
        font-size:19px;
        color: #777777;
        font-weight: 700;
        text-align: center;
        display:block;
    }
    .counter .minus {
        border-right: 0;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .counter .plus {
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .counter em, .counter span {
        line-height: 36px;
        width: 33px;
        font-style: normal;
        color: #777;
        text-align: left;
        display:block;
    }
.btn-remove {
    height: 18px;
    width: 18px;
    display: block;
    border-radius: 50%;
    background: #ccc url(../img/close.svg) no-repeat 50% 50%;
    background-size:10px 10px;
    transition:background-color ease 0.3s;
    margin:9px 0;
}
.btn-remove:hover {
    background-color:#8699ac;
}
.shopping-cart-empty {
    padding:0 0 30px 0;
    text-align:center;
    font-size:18px;
    color:#b9bbc0;
    display:none;
    text-transform:uppercase;
}
.promo-code-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    height:100px;
    margin:20px 0;
    float:right;
}
.promo-code-box .btn {
	margin-top: 10px;
	padding-top: 20px !important;
}
    .promo-code-box label {
        line-height: 42px;
        text-transform: uppercase;
        color: #939598;
        font-size:16px;
        width:164px;
        display:block;
    }
    .promo-code-box > div {
        width:209px;
    }
    .promo-code-box input {
        height:42px;
        width:100%;
        -webkit-appearance:none;
        border:1px solid #e5e5e5;
        border-radius:5px;
        padding:0 10px;
        text-align:left;
        font-size:16px;
        color:#777;
    }
    .total-price {
        clear: both;
        text-align: right;
        font-size:22px;
        font-weight:300;
        color:#4d4d4f;
    }
.notice {
    font-size: 15px;
    color: #939598;
    text-align:right;
    text-transform:uppercase;
    padding-top:20px;
    padding-bottom:20px;
}
.shopping-box .message {
    text-align:right;
    padding-bottom:20px;
    padding-top:0;
}
.buttons {
    font-size: 0;
    line-height: 0;
    text-align: right;
}
.button, .btn {
    height: 42px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    background: #466c7e;
    font-size:16px;
    text-transform:uppercase;
    padding:0 20px;
    text-align:center;
    min-width:180px;
    cursor:pointer;
    transition:background-color ease 0.3s;
}
.button:hover, .btn:hover, .btn-primary:hover {
    background-color:#3b4858;
}
.btn {
	padding-top: 13px;
}
a.btn{
	padding-top: 12px !important;
}
/*a.button {
	padding-top: 3px;
}*/
.btn-primary {
	padding-top: 0px !important;
}
.button[disabled] {
    background-color:#939598;
    cursor:not-allowed;
}
.payment-methods {
    height:30px;
    margin-top:30px;
    background:url(../img/payment.png) no-repeat 100% 50%;
    background-size:contain;
}
/* shopping cart */

/* blank */
.box-wrapper-mini {
    padding:50px 125px;
    border-top:1px solid #e5e5e5;
}
.double-columns {
    width:100%;
    display:flex;
    display:-webkit-box;
    display:-webkit-flex;
    flex-direction:row;
	padding-bottom: 20px;
}
    .double-columns > div {
        flex:1;
        max-width:50%;
        width:50%;
    }
    .double-columns > div:first-child {
        padding-right:25px;
    }
    .double-columns > div:last-child {
        padding-left: 25px;
    }
.pricing {
    width:100%;
}
    .pricing th, .form-group label, .hint {
        text-align: left;
        color: #939598;
        font-size: 15px;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: 400;
    }
    .pricing td {
        color: #4d4d4f;
        font-size:18px;
        line-height:1.2;
        text-align:right;
        text-transform:uppercase;
    }
    .pricing td .big {
        font-size: 24px;
    }
    .pricing th, .pricing td {
        padding:10px 0;
        vertical-align:middle;
    }
.button.btn-right {
    float:right;
    margin-top:35px;
}
.form-group {
    padding-bottom:20px;
}
.form-group:last-child {
    padding-bottom:0;
}
    .double-columns .form-group:last-child:first-child {
        padding-bottom: 20px;
    }
    .form-group .message {
        padding-bottom: 0;
    }
    .form-group.form-relative {
        position: relative;
    }
    .form-group.form-relative > label:first-child {
        position: absolute;
        height:42px;
        padding-bottom:0;
        line-height:42px;
        width:105px;
        left:-105px;
    }
.form-group label {
    display: block;
    padding-bottom: 7px;
}
    .form-group input[type=text],
    .form-group input[type=password],
    .form-group input[type=search],
    .form-group input[type=email],
    .form-group textarea {
        border-radius: 5px;
        border: 1px solid #e5e5e5;
        height: 42px;
        width: 100%;
        display: block;
        -webkit-appearance: none;
        font-size: 14px;
        color: #939598;
        padding: 0 10px;
        text-align: left;
    }
.form-group textarea {
    height:160px;
    padding:10px;
}
        .form-group input[type=text]:active,
        .form-group input[type=password]:active,
        .form-group input[type=search]:active,
        .form-group input[type=email]:active,
        .form-group input[type=text]:focus,
        .form-group input[type=password]:focus,
        .form-group input[type=search]:focus,
        .form-group input[type=email]:focus,
        .form-group textarea:active,
        .form-group textarea:focus {
            border: 1px solid #4d4d4f;
            color: #4d4d4f;
        }
.hint {
    line-height:18px;
    padding:12px 0;
}
.form-group label.radio,
.form-group label.checkbox {
    position: relative;
    padding-left: 40px;
    padding-bottom: 0;
    margin-bottom: 20px;
}
    .form-group label.radio.radio-bordered {
        padding: 20px 20px 20px 40px;
        border:2px solid #e5e5e5;
        height:160px;
        transition:all ease 0.3s;
    }
        .form-group label.radio.radio-bordered:hover {
            border-color:#8699ac;
        }
    .form-group label.radio.radio-bordered.on {
        border: 2px solid #ffd800;
    }
.form-group label.radio:last-child,
.form-group label.checkbox:last-child {
    margin-bottom: 0;
}
    .form-group label.radio input,
    .form-group label.checkbox input {
        position: absolute;
        left: 0;
        top: 3px;
    }
    .form-group label.radio.radio-bordered input {
        position: absolute;
        left: 20px;
        top: 21px;
    }
    .form-group label.radio span,
    .form-group label.radio em,
    .form-group label.checkbox span,
    .form-group label.checkbox em {
        font-style: normal;
        display: block;
    }
    .form-group label.radio em,
    .form-group label.checkbox em {
        text-transform: none;
    }
/* blank */

/* product card */
.product-item-box h1 {
    padding-bottom:0;
    text-align:center;
}
.product-item-box h2 {
    color: #4d4d4f;
    font-size:24px;
    font-weight:700;
    text-align:center;
    padding:0;
    text-transform:uppercase;
}
.product-item-box h3 {
    color: #3b4858;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding:10px 0 30px 0;
    text-transform: uppercase;
}
.product-details {
    padding:30px 0;
    border-bottom:1px solid #e5e5e5;
    color:#777;
    font-size:15px;
    line-height:1.5;
}
    .product-details p, .product-details ul, .product-details ol {
        padding:10px 0;
    }
    .product-details ul, .product-details ol {
        list-style-position:inside;
    }
    .product-details a {
        color:#486e7f;
        transition:color ease 0.3s;
    }
    .product-details a:hover {
        color: #8699ac;
    }
.colors {
    border-bottom:1px solid #e5e5e5;
    padding:40px 0;
}
    .colors h4 {
        color:#4d4d4f;
        font-size:16px;
        font-weight:700;
        text-align:center;
        margin-bottom:20px;
    }
    .color-square {
        display: block;
        height: 42px;
        width: 42px;
        overflow: hidden;
        border-radius: 3px;
        border: 1px solid #e5e5e5;
        position: relative;
        margin:0 5px;
    }
    .color-square::after {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        content: ' ';
        display: block;
        top: 0;
        left: 0;
        background-image: -webkit-linear-gradient(top,transparent 0,rgba(0, 0, 0, 0.45) 90%);
        background-image: -o-linear-gradient(top,transparent 0,rgba(0, 0, 0, 0.45) 90%);
        background-image: linear-gradient(to bottom,transparent 0,rgba(0, 0, 0, 0.45) 90%);
    }
.bxslider#colors, .colors .bx-wrapper {
    background: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.old-safari .bxslider#colors {
    display:block;
    font-size:0;
    line-height:0;
    text-align:center;
}
.old-safari .bxslider#colors .item {
    display: inline-block;
    width:52px;
    padding-bottom:5px;
}
.old-safari .intro .item {
    display:none;
}
.old-safari .intro .item:first-child {
    display: block;
}
.colors .bx-wrapper .bx-controls-direction a.bx-next,
.colors .bx-wrapper .bx-controls-direction a.bx-prev {
    height: 42px;
    width: 42px;
    background: none;
    border-radius: 0;
    color: #777;
    line-height: 40px;
}
    .colors .bx-wrapper .bx-controls-direction a {
        margin-top: -21px;
    }
        .colors .bx-wrapper .bx-controls-direction a.bx-prev {
            left: -47px;
        }
        .colors .bx-wrapper .bx-controls-direction a.bx-next {
            right: -47px;
        }
.buy {
    display:flex;
    display:-webkit-box;
    display:-webkit-flex;
    flex-direction:row;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    max-width:280px;
    padding-top:40px;
}

.buy-price {
    line-height:42px;
    padding-right:40px;
    color:#939598;
    text-transform:uppercase;
    font-size:20px;
    font-weight:bold;
    text-align:left;
}

.product-image-large {
    overflow:hidden;
    font-size:0;
    line-height:0;
    margin-bottom:35px;
    background:#fff url(../img/ajax-loader.gif) no-repeat 50% 50%;
}
    .product-image-large > a > img {
        display:block;
        margin:0;
        width:100%;
    }

.images {
    font-size:0;
    line-height:0;
    text-align:center;
}
    .images .thumb {
        height: 60px;
        width: 60px;
        overflow: hidden;
        display: inline-block;
        margin: 0 10px 20px 10px;
        cursor:pointer;
    }
        .images .thumb img {
            height: 60px;
        }
.center-box {
    padding:40px 0 50px 0;
    text-align:center;
}
.center-box.with-social {
    padding: 40px 0 50px 0;
    border-top:1px solid #e5e5e5;
    margin-top:26px;
}
    .center-box.with-social .social {
        padding-top:9px;
        padding-bottom:9px;
        opacity:0.75;
    }
    .center-box.with-social .social:hover {
        opacity:1;
    }
/* product card */

/* text */
.text {
    line-height:1.3;
    color:#4d4d4f;
    font-size:16px;
    padding:50px 0;
}
    .text ol, .text ul {
        list-style-position:inside;
        padding:10px 50px;
    }
    .text p {
        padding:10px 0;
        text-indent:50px;
    }
    .text img {
        margin:10px 0;
        display:block;
        max-width:100%;
    }
    .text h1, .text h2, .text h3, .text h4 {
        text-align:center;
        text-transform:uppercase;
        font-weight:700;
        color:#3b4858;
        padding:10px 0;
        font-size:37px;
    }
    .text h2 {
        font-size:32px;
    }
    .text h3 {
        font-size: 22px;
    }
    .text h4 {
        font-size: 18px;
    }

    .text a:not(.button) {
        color:#486e7f;
        transition:color ease 0.3s;
    }
    .text a:not(.button):hover {
        color: #8699ac;
    }
/* text */
._load_more {
	text-align: center;
}
._load_more_categories {
    text-align: center;
}

div.search-popup, .ui-autocomplete {
    list-style: none;
    border: 1px solid #ddd;
    border-top: 0;
    background: #fff;
    padding: 0;
    margin: 1px 0 0 1px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}
div.search-popup-row,
div.search-popup-row-active, .ui-menu-item {
    position: relative;
    padding: 4px 13px;
    cursor: pointer;
    line-height: 32px;
}
div.search-popup-row-active, .ui-state-focus {
    background: #f6fbff;
    font-weight: normal;
    color: inherit;
    border: none;
}
div.search-popup-el-name, div.search-popup-el-cnt {
    position: relative;
    margin:0;
    padding:0;
    text-align:left;
}
div.search-popup-el-cnt{
    text-align:right;
    float:right;
}

.ordering_delivery__details-title{margin-bottom:0px;font-size:14px;}
.__checked .ordering_delivery__details{display:block;}
.__last .ordering_delivery__details{top:auto;bottom:0;}
.ordering_delivery__details .reg-form_input{margin-right:6px;margin-bottom:20px;width:180px;font-size:14px;}

.ordering_delivery__details .reg-form_input.__no_mb{margin-bottom:0;}
.ordering_delivery__details .reg-form_date-wrap .reg-form_input{margin-right:0;}
.ordering_delivery__details .reg-form_row{margin-bottom:0px;}
.ordering_delivery__details .reg-form_label{width:51px;margin-right:10px;}
.ordering_delivery__details .reg-form_label.__delivery{width:auto;margin-bottom:4px;}
.ordering_delivery__details .reg-form_label.__time{margin-right:0px;padding-left:5px;width:51px;}

.ui-widget-content{
	z-index: 10;
}

.b_popup {
	background-color: #fff;
	max-width: 700px;
	margin: 0 auto;
	padding: 60px 80px;
	text-align: left;
	position: relative;
}

.b_popup.-left {
	text-align: left;
}

.b_popup ._title {
	text-align: center;
	color: #000;
	font-weight: normal;
	padding-bottom: 18px;
	position: relative;
	font-size: 32px;
	margin-bottom: 50px;
}
.b_popup ._title._name {
	margin-bottom: 20px;
	font-size: 32px;
}

.b_popup ._btns {
	margin-top: 30px;
}

.b_popup ._submit {
	font-size: 14px;
	padding: 11px 28px 13px 28px;
	line-height: 20px;
	text-transform: uppercase;
}
.payButton {
	text-align: center;
}
.payButton2 {
	text-align: left;
}
.payButton button, .payButton2 button {
    height: 42px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    background: #466c7e;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 20px;
    text-align: center;
    min-width: 180px;
    cursor: pointer;
    transition: background-color ease 0.3s;
}



/* pre-sale */
.pre-sale {
    width:100%;
    text-align:center;
}
/* pre-sale */

/* popup */
/* popup contact */
.overlay, .popup-wrapper {
    position: fixed;
    z-index: 20;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: block;
    top: 0;
    left: 0;
}

.overlay {
    display: none;
}

.popup-wrapper {
    background: none;
    z-index: 21;
    min-height: 440px;
    overflow: auto;
    min-width: 320px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translateZ(0) scale(0);
    transform: translateZ(0) scale(0);
    -webkit-transition: transform ease 0.3s;
    transition: transform ease 0.3s;
}

    .popup-wrapper.on {
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
    }

    .popup-wrapper .ft {
        height: 100%;
        width: 100%;
        display: table;
    }

    .popup-wrapper .ftd {
        height: 100%;
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        padding: 15px;
    }

.popup-contact {
    background: #fff;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    padding: 60px;
}

.popup h3 {
    text-align: center;
    color: #4d4d4f;
    font-size: 25px;
    text-transform:uppercase;
    padding-bottom: 15px;
}
.popup p {
    text-align: center;
    color: #777;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 25px;
}
.popup .form {
    max-width: 890px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    width:100%;
}

    .popup .form .row {
        display: table-cell;
        vertical-align: top;
        width: 33.33%;
        padding-bottom: 15px;
    }

        .popup .form .row:nth-child(3n+1) {
            padding-right: 15px;
        }

        .popup .form .row:nth-child(3n+2) {
            padding-left: 15px;
            padding-right: 0px;
        }

        .popup .form .row:nth-child(3n+3) {
            padding-left: 20px;
        }
        .popup .form.two-col .row:nth-child(2n+1) {
            padding-right: 15px;
            padding-left:0;
        }
        .popup .form.two-col .row:nth-child(2n+2) {
            padding-left: 15px;
            padding-right: 0;
        }
    .popup .buttons {
        text-align:center;
        padding-top:15px;
    }
    .popup .form .input {
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        position: relative;
        display: block;
        z-index: 1;
        height: 44px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        -webkit-appearance: none;
        font-size: 15px;
        color: #4d4d4f;
    }

    .popup .form .button {
        height: 60px;
        line-height: 56px;
        font-size: 24px;
        font-weight: 400;
    }
    .popup .form .error {
        color:#DB305B;
        font-size:15px;
        line-height:1.5;
    }

    .row-conf {
        text-align: center;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        line-height: 30px;
        padding-top: 10px;
    }

    .row-conf a {
        color: #DB305B;
        border-bottom: 1px solid transparent;
        padding-bottom: 1px;
        -webkit-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }

        .row-conf a:hover {
            border-bottom-color: #DB305B
        }

.message {
	display: none;
    font-size: 16px;
    line-height: 24px;
    padding-top: 15px;
}

    .message.error {
        color: #DB305B;
    }

    .message.success {
        color: #53bd3a;
    }

.popup-close {
    height: 36px;
    width: 36px;
    background: url(../img/close-dark.svg) no-repeat 50% 50%;
    background-size: 30px 30px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}
/* popup */

/* additional */
.pt20px {
    padding-top:20px;
}
.addr {
    color: #939598;
    font-size:15px;
    line-height:1.5;
    padding-bottom:15px;
}
.shipping-addr {
    border-collapse:collapse;
    border:0;
}
    .shipping-addr td {
        padding-right:10px;
    }
    .shipping-addr td:last-child {
        padding-right: 0;
    }
/* additional */


.elari_h2 { font-size: 18px !important;
		    padding: 13px 0 13px 0 !important;
		    font-weight: 500 !important;
}

.buy-old-price {  }

.buy-old-price:after {
content: "";
width: 100px;
height: 30px;
background: url(/upload/sale_pic.png);
background-position: center center;
background-repeat: no-repeat;
top: -38px;
margin: 0 auto;
position: relative;
display: block;
margin-bottom: -30px;
}


.tf-popup {
    max-width: 765px;
    position: relative;
    font-family: "Helvetica", Arial sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    background: #fff;
    font-weight: 400;
    margin: 20px auto;
    width:100%;
}

.tf-popup *
    {box-sizing: border-box}

.tf-popup .mfp-close {
top: 10px;
right: 10px;
color:transparent;
background: url('../img/ft-close-icon.png') no-repeat center center;
}

.tf-popup .tf-popup_wrapper {
    padding: 25px 30px;
}

.tf-popup_title {
            display: block;
            font-size: 30px;
            margin-bottom: 13px;
            text-align: center;
            color:#000;
            padding:0 20px;
        }

 .tf-order.__single {
}

.tf-order.__single .tf-order_items {

}

.tf-order_text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 35px;
    }

.tf-product-card {
    overflow: hidden;
    padding: 25px 0 25px 0;
    border-bottom:1px solid #ebebeb
}
.tf-product-card_photo {
    float: left;
    width: 110px;
}

.tf-product-card_image {
max-width:100%;
height:auto;
 }
.tf-product-card_info {
    margin-left: 125px;
}
.tf-product-card_name {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}
.tf-product-card_rating {
    display: block;
    margin-bottom: 10px;
}
.tf-product-card_category {
    font-size: 14px;
    color: #470a09;
    margin-bottom: 13px;
    display: block;
}
.tf-product-card_price.__free {
    font-size: 14px;
    font-weight:normal;
    line-height: 20px
}


.tf-form.__order {

}

.tf-form.__order .tf-form_input {
    width: 31%;
    height: 42px;
    line-height: 40px;
    font-size: 14px;
    margin-left: 3.5%;
    padding: 0 20px;
    float: left;
}

.tf-form.__order .tf-form_input:first-child {
    margin-left: 0px;
}

.tf-form.__order .form_row.__actions {
    margin-top: 15px;
    width:100%;
    float:left;
}


.tf-order_tip {
    color: #8e8e8e;
    font-size: 14px;
}

.tf-order_details {
    margin: 15px 0 40px 0;
}

.tf-order_text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 7px;
}

.tf-form_row
{
width:100%;
clear:both;}

.tf-form_row.__actions
{
 text-align: center;
}

.tf-btn-order
{height:50px !important;float:none;margin-top:20px;max-width:218px!important;}

.item_page__largeImage
{
height: auto;}

.item_page__largeImage img {
    /*max-height: 400px;
    max-width: 100%;*/
    max-height: none;
    max-width: none;

}

.content_subscribe__input
{height:30px}

.btn-sale{line-height:18px}

.tf-order_summary {
        overflow: hidden;
        margin: 20px 0px 0px 0px;
        font-weight: 400;
        text-align: center;
    }
        .tf-order_summary-text {
            font-size: 20px;
        }
        .tf-order_summary-price {
            font-size: 20px;
            line-height: 20px;
        }

    .product-card_price.__free {
        font-size: 14px;
        vertical-align: top;
        line-height: 20px;
    }

.tf-icon-gift {
    background: url('../img/tf-gift-icon.png') no-repeat center center;
    width: 21px;
    height: 20px;
    display: inline-block;
    float:left;
}


.tf-product-card_price.__free span
{
    height: 20px;
    display: inline-block;
    float: left;
    line-height: 24px;
    padding-left: 10px;
}

.tf-popup.__review .tf-popup_title
{font-size:24px;
line-height: 24px;}

.tf-form_row_half {
    width: 47.5%;
    float: right;
}

.tf-form_row_half:first-child {
    float: left;
}

.tf-form_textarea,.tf-form_input {
    width: 100%;
    float:left;
    margin-bottom: 15px;
}

.tf-popup.__review .btn-review
{
    height:50px;
    max-width: 260px;}

.tf-popup.__review .tf-form_textarea,.tf-popup.__review .tf-form_input
{
    margin-bottom:18px;
    max-width:100%;}

.tf-popup.__review .form_rating
{
    margin: 5px 0 24px 0;
}

.tf-popup.__review .tf-form_row
{
    text-align: center;
}

.tf-popup.__review  .tf-popup_wrapper {
    padding: 25px 45px;
}

.tf-btn-review{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 15px 0 15px 32px;
    font-weight: 300;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border: 1px solid #470a09;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    -o-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
  max-width: 260px;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 16px 0;
  padding-left: 50px;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
  background-color: #470a09;
  text-transform: uppercase;
}

.tf-btn-review:hover,
.tf-btn-review:focus {
  color: #470a09;
  background-color: #ffffff;
}

.tf-btn-review:before {
    content: " ";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  top: 50%;
  left: 15px;
  width: 22px;
  height: 22px;
  background-image: url(../img/reviews-white.png);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}


.tf-btn-review:hover.tf-btn-review:before,
.tf-btn-review:focus.tf-btn-review:before {
  background-image: url(../img/reviews.png);
}

.tf-popup.__review:before
{content:"Оставить отзыв";
display:inline-block;
width:100%;
text-align: center;
font-size:30px;
line-height:30px;
margin-top: 20px;
}

.tf-product-card_price
{font-size:17px;
font-weight:bold}

.tf-product-card_price .icon-rub{font-weight:normal;}

.tf-form_row_third {
    width: 30.4%;
    float: left;
    margin-left: 4.4%;
}

.tf-form_row_third:first-child {
    margin-left:0;
}

.tf-delivery-card {
    overflow: hidden;
    padding: 25px 0 25px 0;
    border-bottom:1px solid #ebebeb;
    margin: 15px 0 5px 0
}

.tf-delivery-card:last-child
{border:0}

.tf-delivery-icon{
    float: left;
    width: 15%;
}

.tf-delivery-icon img {
width:100%;
height:auto;
 }
.tf-delivery-info {
    width: 81%;
    float: right;
    font-size: 14px;
    line-height:16px;
}
.tf-delivery-title {
    font-size: 24px;
    line-height: 24px;
    display: block;
    margin-bottom: 15px;
}

.tf-delivery-table
{border:0;
padding:0;
margin:0;
width:100%;
margin-bottom: 15px;
border-collapse: collapse}

.tf-delivery-table td
{border:0;
padding:0 0 5px 0;
margin:0;
width:50%;
}

.tf-delivery-table tr td:last-child
{font-weight:bold}

.tf-delivery-text
{border:0;
padding:0;
margin:0;
width:100%;
font-size: 14px}

.tf-popup .tf-popup_wrapper {
    float: left;
    width: 100%;
    background: #fff;
}

.tf-delivery-card,.tf-order_items
{width:100%;
float:left}

.tf-delivery-text p{padding:10px 0;}




 .slider_sm { display: none !important; }

@media (max-width: 480px) {

.slider_lg { display: none; }

.slider_sm{ display: block !important; }
.slider_control_lg { display: none !important; }
.button, .btn {font-size:14px;}
.continueBuy {	font-size: 16px;}
}

.basketName {
	font-size: 20px;
}

.continueBuy {
	margin-left: 40px;
	text-decoration: underline;
	cursor: pointer;
	font-size: 16px;
    text-transform: uppercase;
    position: relative;
    bottom: 15px;
}

.hidden {
	display: none !important;
}
.mobile {
	display: none;
}
.desktop {
	display: block;
}